<html>
<head>
    <title>Content created /images/target/thumbnails/302</title>
</head>
<body>
<h1>Content created /images/target/thumbnails/302</h1>
<table>
    <tbody>
    <tr>
        <td>Status</td>
        <td><div id="Status">201</div></td>
    </tr>
    <tr>
        <td>Message</td>
        <td><div id="Message">Created</div></td>
    </tr>
    <tr>
        <td>Location</td>
        <td><a href="/images/target/thumbnails/302" id="Location">/images/target/thumbnails/302</a></td>
    </tr>
    <tr>
        <td>Parent Location</td>
        <td><a href="/images/target/thumbnails" id="ParentLocation">/images/target/thumbnails</a></td>
    </tr>
    <tr>
        <td>Path</td>
        <td><div id="Path">/images/target/thumbnails/302</div></td>
    </tr>
    <tr>
        <td>Referer</td>
        <td><a href="https://adobe-tech-marketing.marketing.adobe.com/content/mac/adobe-tech-marketing/target/activities.html" id="Referer">https://adobe-tech-marketing.marketing.adobe.com/content/mac/adobe-tech-marketing/target/activities.html</a></td>
    </tr>
    <tr>
        <td>ChangeLog</td>
        <td><div id="ChangeLog">&lt;pre&gt;created("/images/target/thumbnails/302");&lt;br/&gt;created("/images/target/thumbnails/302/1429838421.png");&lt;br/&gt;created("/images/target/thumbnails/302/1429838421.png/jcr:content");&lt;br/&gt;modified("/images/target/thumbnails/302/1429838421.png/jcr:content/jcr:lastModified");&lt;br/&gt;modified("/images/target/thumbnails/302/1429838421.png/jcr:content/jcr:mimeType");&lt;br/&gt;modified("/images/target/thumbnails/302/1429838421.png/jcr:content/jcr:data");&lt;br/&gt;&lt;/pre&gt;</div></td>
    </tr>
    </tbody>
</table>
<p><a href="https://adobe-tech-marketing.marketing.adobe.com/content/mac/adobe-tech-marketing/target/activities.html">Go Back</a></p>
<p><a href="/images/target/thumbnails/302">Modified Resource</a></p>
<p><a href="/images/target/thumbnails">Parent of Modified Resource</a></p>
</body>
</html>