
<!DOCTYPE html>
<html class="coral-App">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="icon" type="image/vnd.microsoft.icon" href="/images/favicon.ico">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/images/favicon.ico">

    <title>Segment Manager</title>
    <link rel="stylesheet" href="/css/coral.min.css" type="text/css">


    <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/js/coral.min.js"></script>
    <script type="text/javascript" src="/js/catch-error.js"></script>

    <!--[if lte IE 9]>
    <script type="text/javascript" src="/js/ie9-base64.min.js"></script><![endif]-->





    <script type="text/javascript">
        //Load all of the php JavaScript assets into the adobe.analytics namespace.
        window.adobe = window.adobe || {};
        adobe.analytics = adobe.analytics || {};
        //If we set the value of analytics to the js_variables then we may
        //potentially wipe out other data that is set to adobe.analytics.
        adobe.analytics = jQuery.extend(adobe.analytics, {
            "headerConfig": {
                "timeout": 5000,
                "server": "https:\/\/marketing-beta.adobe.com",
                "lang": "en_US",
                "searchProduct": "analytics",
                "hasImsSession": null,
                "activeSolution": "Analytics",
                "solutionHome": null,
                "activeCapability": "Reports & Analytics",
                "whatsNewLabel": "What's New",
                "helpHomeLabel": "Help Home",
                "customerCareLabel": "Customer Care",
                "searchPlaceholderLabel": "Search",
                "notificationsTitleLabel": "Notifications",
                "viewAllNotificationsLabel": "",
                "customerCareLink": "https:\/\/beta-a.omniture.com\/p\/suite\/1.3\/index.html?a=Product.SwitchProduct&product_id=suite&redirect_command=HelpMenu.RedirectMenu&node_val=find_answers_url&ssSession=ff64adcdb973761fd122e61744a3b0d0&jpj=22679165125813",
                "notificationsEnabled": false,
                "preConfiguredData": {
                    "helpText": "Help",
                    "notificationCount": 0,
                    "success": true,
                    "notifications": {
                        "title": "Notifications",
                        "newNotifications": [

                        ],
                        "success": true
                    },
                    "user": {
                        "info": {
                            "displayName": "<%= displayName %>",
                            "title": "<%= title %>",
                            "avatar": ""
                        },
                        "actions": [
                            {
                                "id": "logout",
                                "primary": true,
                                "url": "https:\/\/beta-a.omniture.com\/logout.html?ssSession=ff64adcdb973761fd122e61744a3b0d0&jpj=22679165125813",
                                "text": "Sign Out"
                            },
                            {
                                "id": "settings",
                                "url": "https:\/\/beta-a.omniture.com\/p\/suite\/1.3\/index.html?a=Product.SwitchProduct&product_id=suite&redirect_command=User.GetAccountInfo&ssSession=ff64adcdb973761fd122e61744a3b0d0&jpj=22679165125813&ssSession=ff64adcdb973761fd122e61744a3b0d0",
                                "text": "Account Settings"
                            }
                        ],
                        "organizations": [
                            {
                                "tenantId": "",
                                "active": true,
                                "name": "<%= name %>"
                            }
                        ]
                    }
                },
                "betaFeedbackLink": "#beta_feedback",
                "betaFeedbackLabel": "Beta Feedback"
            },
            "betaFeedbackConfig": {
                "betaFeedBackFormUrl": "https:\/\/beta-a.omniture.com\/p\/suite\/1.3\/index.html?a=Main.BetaFeedbackNew&ssSession=ff64adcdb973761fd122e61744a3b0d0&jpj=22679165125813",
                "betaFeedBackData": {
                    "beta_feedback_company": "Freestone Inc",
                    "beta_feedback_rs": "SWH Current",
                    "beta_feedback_rsid": "swhstarwoodver2",
                    "beta_feedback_login": "timlott",
                    "beta_feedback_product": "site_catalyst"
                }
            },
            "loadAllReportSuitesUrl": "https:\/\/beta-a.omniture.com\/p\/suite\/1.3\/json\/index.html?a=ReportSuite.List&ssSession=ff64adcdb973761fd122e61744a3b0d0&jpj=22679165125813",
            "changeReportSuitesEndpoint": "https:\/\/beta-a.omniture.com\/p\/suite\/1.3\/index.html?a=Main.SwitchReportSuite&ssSession=ff64adcdb973761fd122e61744a3b0d0&jpj=22679165125813",
            "currentLocale": "English",
            "currentLocaleCode": "en_US",
            "OMNITURE_URL": "https:\/\/beta-a.omniture.com",
            "appConfig": {
                "ssSession": "ff64adcdb973761fd122e61744a3b0d0",
                "jpj": "22679165125813",
                "isIMSSession": null,
                "selectedMenuId": "ComponentManager.Index",
                "rsTimezoneOffset": 300,
                "calendar": {
                    "type": 0,
                    "anchor_date": "2000-01-01",
                    "first_day_of_week": 0,
                    "first_month_of_year": 0
                },
                "endpoints": {
                    "scHome": "https:\/\/beta-a.omniture.com\/p\/suite\/1.3\/index.html?a=Product.SwitchProduct&product_id=site_catalyst&ssSession=ff64adcdb973761fd122e61744a3b0d0&jpj=22679165125813",
                    "scJSON": "index.html",
                    "suiteJSON": "index.html",
                    "omnitureUrl": "https:\/\/beta-a.omniture.com",
                    "analyticsServiceUrl": "\/reports\/anomalydetection",
                    "staticUrl": "https:\/\/beta-a.omniture.com\/p\/static\/1.0",
                    "suiteUrl": "\/reports\/anomalydetection\/",
                    "scriptPath": "https:\/\/beta-a.omniture.com\/sc15\/reports\/index.html",
                    "actionAccessor": "a"
                },
                "analyticsServicesAccessToken": "Bearer SC:0c9f1c5a42c4e7a362c2a1eeb71061c3ea92ba63ecd4f6c5d76b65e595e1545c",
                "activeUser": {
                    "loginId": "505732",
                    "loginName": "timlott",
                    "fullName": "Tim Lott",
                    "isAdmin": false,
                    "companyId": "5791",
                    "companyName": "Freestone Inc",
                    "currentRSID": "swhstarwoodver2",
                    "currentSiteTitle": "SWH Current",
                    "reportSuiteAxleStartDate": "2013-01-01",
                    "accessType": 2
                },
                "localeConfig": {
                    "languages": [
                        {
                            "localeCode": "en_US",
                            "displayName": "English"
                        },
                        {
                            "localeCode": "fr_FR",
                            "displayName": "fran\u00e7ais"
                        },
                        {
                            "localeCode": "zh_CN",
                            "displayName": "\u7b80\u4f53\u4e2d\u6587"
                        },
                        {
                            "localeCode": "zh_TW",
                            "displayName": "\u7e41\u9ad4\u4e2d\u6587"
                        },
                        {
                            "localeCode": "de_DE",
                            "displayName": "Deutsch"
                        },
                        {
                            "localeCode": "jp_JP",
                            "displayName": "\u65e5\u672c\u8a9e"
                        },
                        {
                            "localeCode": "ko_KR",
                            "displayName": "\ud55c\uad6d\uc5b4"
                        },
                        {
                            "localeCode": "es_ES",
                            "displayName": "Espa\u00f1ol"
                        },
                        {
                            "localeCode": "pt_BR",
                            "displayName": "portugu\u00eas"
                        }
                    ],
                    "currentLocaleCode": "en_US",
                    "currentLocale": "English",
                    "baseLocaleUrl": "https:\/\/beta-a.omniture.com\/p\/suite\/1.3\/index.html?a=Main.SwitchReportSuite&ssSession=ff64adcdb973761fd122e61744a3b0d0&jpj=22679165125813&d_url=L3NjMTUvcmVwb3J0cy9pbmRleC5odG1sP2E9Q29tcG9uZW50TWFuYWdlciZsb2tpW2ZyYWdfYXBpX3JlbW90ZV9heGxlXT1zam8mYT1Db21wb25lbnRNYW5hZ2Vy"
                },
                "disableOberonRemoteLoading": false,
                "numberLocalization": {
                    "currency_code": "USD",
                    "thousands_separator": ",",
                    "decimal_separator": "."
                },
                "oid": null
            },
            "imsLinkingURL": "https:\/\/beta-a.omniture.com\/p\/suite\/1.3\/json\/index.html?a=User.GetIMSLinkData&ssSession=ff64adcdb973761fd122e61744a3b0d0&jpj=22679165125813",
            "logoutParams": {
                "products": [
                    ":\/\/\/omnitureSsoLogout",
                    ":\/\/\/omnitureSsoLogout",
                    ":\/\/\/omnitureSsoLogout",
                    ":\/\/\/omnitureSsoLogout",
                    "https:\/\/beta-a.omniture.com\/SSO\/saml2\/idp\/SingleLogoutService.php?ReturnTo=https:\/\/beta-a.omniture.com"
                ],
                "params": "?info=P2NvPUZyZWVzdG9uZStJbmMmdXI9dGltbG90dCZzZXNzPWZmNjRhZGNkYjk3Mzc2MWZkMTIyZTYxNzQ0YTNiMGQw",
                "text": "Signing Out...",
                "mainLogout": "https:\/\/beta-a.omniture.com\/p\/suite\/1.3\/index.html?a=Product.SwitchProduct&product_id=suite&redirect_command=Main.Logout&ssSession=ff64adcdb973761fd122e61744a3b0d0&jpj=22679165125813"
            },
            "jpj_old": "84624905060769"
        });
    </script>

</head>

<body data-init="shell-mac" class="endor-Panel coral--light" data-locale="en_US" data-search-product="analytics"
      ng-app="componentManagerApp" ng-controller="spaCtrl" ng-init="init()"
        >

<!-- Breadcrumb bar -->
<div data-init="breadcrumb-bar" 	 data-close-on-click="true" class="is-closed endor-Panel-header endor-BreadcrumbBar js-endor-breadcrumb-bar">
    <nav class="endor-Crumbs" data-init="crumbs">
        <a class="endor-Crumbs-item" href="/mac/feed.html">
            <i class="endor-Crumbs-item-icon coral-Icon coral-Icon--adobeMarketingCloud coral-Icon--sizeM"></i>
            < Adobe Marketing Cloud			</a>
        <a class="endor-Crumbs-item" href="https://beta-a.omniture.com/p/suite/1.3/index.html?a=Product.SwitchProduct&product_id=site_catalyst&ssSession=ff64adcdb973761fd122e61744a3b0d0&jpj=22679165125813">
            Reports & Analytics		</a>
        <span class="endor-Crumbs-item--unavailable">Segment Manager</span>
        <!--
            If an item does not have a valid navigation the endor-Crumbs-item--unavailable should be used
            as well as tabindex="-1" for accesibility. Or just use <span>
          -->
    </nav>
</div>
<div data-init="page" class="js-endor-page endor-Panel-content endor-Panel-content--breadcrumbBarHeight endor-Page  is-innerRailOpen">

    <!-- Outer Rail -->
    <div data-init="outer-rail" 	 class="js-endor-navrail endor-Page-sidepanel endor-Page-sidepanel--navigation coral--dark"
            >
        <a class="endor-Brand" data-init="brand" 	   data-href="/mac/feed.html">
            <i class="endor-Brand-icon coral-Icon coral-Icon--adobeMarketingCloud coral-Icon--sizeM"></i> Adobe Marketing Cloud
        </a>
        <div data-init="navigation-view"		 data-json-url="index.html?a=Menus.GetAnalyticsMenu&selectedMenuId=ComponentManager.Index&ssSession=ff64adcdb973761fd122e61744a3b0d0&jpj=22679165125813" data-with-credentials="true">
        </div>
    </div>
    <!-- Top Most Page Content -->
    <div class="endor-Page-content endor-Panel">

        <!-- Black Bar -->
        <nav data-init="black-bar" 	 class="endor-Panel-header endor-BlackBar js-endor-blackbar" data-no-back-button="true">
            <button class="js-endor-navrail-toggle endor-BlackBar-nav is-active"
                    title="Toggle Rail">
                <i class="coral-Icon coral-Icon--navigation"></i>
            </button>
            <div class="endor-BlackBar-right">


                <a class="endor-BlackBar-item endor-BlackBar-item--text u-coral-hiddenXS" data-target="#help-popover" data-toggle="popover"
                   data-point-from="bottom" data-align-from="right">Help</a>

                <a class="endor-BlackBar-item endor-Badge is-empty" data-target="#analytics-notifications-popover" data-toggle="popover"
                   data-notifications-url="index.html?a=Shell.GetNotifications&ssSession=ff64adcdb973761fd122e61744a3b0d0&jpj=22679165125813"		   		   data-init="analytics-badge" 		   data-point-from="bottom" data-align-from="right">0</a>

                <a class="endor-BlackBar-item endor-UserProfile" data-target="#user-account-popover" data-point-at="#user-profile-avatar"
                   data-user-url="index.html?a=Shell.GetUser&ssSession=ff64adcdb973761fd122e61744a3b0d0&jpj=22679165125813"		   data-toggle="popover" data-point-from="bottom" data-align-from="right"
                   data-init="user-profile">
                    <div class="endor-UserProfile-tenant"></div>
                    <div class="endor-UserProfile-avatar endor-UserProfile-avatar--default" id="user-profile-avatar">
                        <i class="coral-Icon coral-Icon--sizeM coral-Icon--user"></i>
                    </div>
                </a>
            </div>
            <div role="heading" aria-level="1" class="endor-BlackBar-title">
                Segment Manager	</div>
        </nav>

        <!-- User Account Popup -->
        <div id="user-account-popover" class="coral-Popover"
             data-init="user-account-popover"	 data-user-url="index.html?a=Shell.GetUser&ssSession=ff64adcdb973761fd122e61744a3b0d0&jpj=22679165125813">
        </div>

        <!-- Notification Popup -->
        <div id="analytics-notifications-popover" class="coral-Popover"
             data-init="analytics-notifications-popover"	 data-notifications-url="index.html?a=Shell.GetNotifications&ssSession=ff64adcdb973761fd122e61744a3b0d0&jpj=22679165125813"	 	 data-no-new-notifications-label="You have no new notifications.">
        </div>

        <!-- Help Popup -->
        <div id="help-popover" class="coral-Popover"
             data-init="help-popover"	data-whats-new-label="What's New"
             data-customer-care-label="Customer Care"
             data-help-home-label="Help Home"
             data-community-label="Community"
             data-community-link="http://help-forums.adobe.com/content/adobeforums/en/analytics-forum/adobe-analytics.html"
             data-customer-care-link="https://beta-a.omniture.com/p/suite/1.3/index.html?a=Product.SwitchProduct&product_id=suite&redirect_command=HelpMenu.RedirectMenu&node_val=find_answers_url&ssSession=ff64adcdb973761fd122e61744a3b0d0&jpj=22679165125813"
             data-search-placeholder="Search">
        </div>

        <!-- Layout Panel Content -->

        <div class="endor-Panel-content endor-Panel-content--blackBarHeight" role="main"
             ng-view >
            <div ng-show="visible" class="coral-Wait coral-Wait--center coral-Wait--large" ></div>
        </div>
        <ad-modal></ad-modal>

    </div>
</div>

<link rel="stylesheet" href="/css/component-manager.css" type="text/css">
<link rel="stylesheet" href="/css/adobe-fonts.css" type="text/css">

<script type="text/javascript" src="/js/angular.min.js"></script>
<script type="text/javascript" src="/js/angular-locale_en-us.js"></script>
<script type="text/javascript" src="/js/component-manager-en_US.min.js"></script>
</body>
</html>