

<article class="card-asset"  data-path='&#x2f;images&#x2f;starwood&#x25;20hotels&#x2f;lc-the-phoenician-scottsdale-thirsty-camel-patio-220x146.png' data-title='lc-the-phoenician-scottsdale-thirsty-camel-patio-220x146.png' data-asset-mimetype='image&#x2f;jpeg'>
    <i class="select"></i>
    <div class="card">

   <span class="image"><img class="show-grid" src="/images/starwood%20hotels/lc-the-phoenician-scottsdale-thirsty-camel-patio-220x146.png" alt="lc-the-phoenician-scottsdale-thirsty-camel-patio-220x146.png">
			<img class="show-list" src="/images/starwood%20hotels/lc-the-phoenician-scottsdale-thirsty-camel-patio-220x146.png">
        </span>

        <div class="label">

            <h4>lc-the-phoenician-scottsdale-thirsty-camel-patio-220x146.png
            </h4>

            <p class="resolution" data-width="220">220 x 146
            </p>

            <p class="size" data-bytes="13169">12.9 KB
            </p>

            <div class="info">
                <p class="modified"><i class="icon-edit">Modified
                    </i> <span
                            class="date"
                            data-timestamp="1424878665544">1 month</span><span class="user">Mathieu Hannouz</span></p>

                <p class="links" data-links="0"></p>
            </div>

            <p class="type">IMAGE
            </p>

        </div>
    </div>
</article>


<article class="card-asset"  data-path='&#x2f;images&#x2f;starwood&#x25;20hotels&#x2f;Follow-Cart-540x377.png' data-title='Follow-Cart-540x377.png' data-asset-mimetype='image&#x2f;jpeg'>
    <i class="select"></i>
    <div class="card">

   <span class="image"><img class="show-grid" src="/images/starwood%20hotels/Follow-Cart-540x377.png" alt="Follow-Cart-540x377.png">
			<img class="show-list" src="/images/starwood%20hotels/Follow-Cart-540x377.png">
        </span>

        <div class="label">

            <h4>Follow-Cart-540x377.png
            </h4>

            <p class="resolution" data-width="540">540 x 377
            </p>

            <p class="size" data-bytes="79686">77.8 KB
            </p>

            <div class="info">
                <p class="modified"><i class="icon-edit">Modified
                    </i> <span
                            class="date"
                            data-timestamp="1424403250904">1 month</span><span class="user">Mathieu Hannouz</span></p>

                <p class="links" data-links="0"></p>
            </div>

            <p class="type">IMAGE
            </p>

        </div>
    </div>
</article>


<article class="card-asset"  data-path='&#x2f;images&#x2f;starwood&#x25;20hotels&#x2f;Phoen.Cyn_.9-1600x447.png' data-title='The&#x20;Phoenician&#x20;Canyon&#x20;Course&#x20;&#x23;9' data-asset-mimetype='image&#x2f;jpeg'>
    <i class="select"></i>
    <div class="card">

   <span class="image"><img class="show-grid" src="/images/starwood%20hotels/Phoen.Cyn_.9-1600x447.png" alt="525&#x20;yd&#x20;par&#x20;5">
			<img class="show-list" src="/images/starwood%20hotels/Phoen.Cyn_.9-1600x447.png">
        </span>

        <div class="label">

            <h4>The Phoenician Canyon Course &#x23;9
            </h4>

            <p class="resolution" data-width="4072">4072 x 4072
            </p>

            <p class="size" data-bytes="257071">251 KB
            </p>

            <div class="info">
                <p class="modified"><i class="icon-edit">Modified
                    </i> <span
                            class="date"
                            data-timestamp="1424403252334">1 month</span><span class="user">Mathieu Hannouz</span></p>

                <p class="links" data-links="0"></p>
            </div>

            <p class="type">IMAGE
            </p>

        </div>
    </div>
</article>


<article class="card-asset"  data-path='&#x2f;images&#x2f;starwood&#x25;20hotels&#x2f;PHXN_OASIS-3-1600x447.png' data-title='The&#x20;Phoenician&#x20;Oasis&#x20;Course&#x20;&#x23;3' data-asset-mimetype='image&#x2f;jpeg'>
    <i class="select"></i>
    <div class="card">

   <span class="image"><img class="show-grid" src="/images/starwood%20hotels/PHXN_OASIS-3-1600x447.png" alt="211&#x20;yd&#x20;par&#x20;3">
			<img class="show-list" src="/images/starwood%20hotels/PHXN_OASIS-3-1600x447.png">
        </span>

        <div class="label">

            <h4>The Phoenician Oasis Course &#x23;3
            </h4>

            <p class="resolution" data-width="4072">4072 x 4072
            </p>

            <p class="size" data-bytes="353391">345.1 KB
            </p>

            <div class="info">
                <p class="modified"><i class="icon-edit">Modified
                    </i> <span
                            class="date"
                            data-timestamp="1424403253113">1 month</span><span class="user">Mathieu Hannouz</span></p>

                <p class="links" data-links="0"></p>
            </div>

            <p class="type">IMAGE
            </p>

        </div>
    </div>
</article>


<article class="card-asset"  data-path='&#x2f;images&#x2f;starwood&#x25;20hotels&#x2f;masthead-01-1346x447.png' data-title='masthead-01-1346x447.png' data-asset-mimetype='image&#x2f;jpeg'>
    <i class="select"></i>
    <div class="card">

   <span class="image"><img class="show-grid" src="/images/starwood%20hotels/masthead-01-1346x447.png" alt="masthead-01-1346x447.png">
			<img class="show-list" src="/images/starwood%20hotels/masthead-01-1346x447.png">
        </span>

        <div class="label">

            <h4>masthead-01-1346x447.png
            </h4>

            <p class="resolution" data-width="1346">1346 x 447
            </p>

            <p class="size" data-bytes="244932">239.2 KB
            </p>

            <div class="info">
                <p class="modified"><i class="icon-edit">Modified
                    </i> <span
                            class="date"
                            data-timestamp="1424403007706">1 month</span><span class="user">Mathieu Hannouz</span></p>

                <p class="links" data-links="0"></p>
            </div>

            <p class="type">IMAGE
            </p>

        </div>
    </div>
</article>


<article class="card-asset"  data-path='&#x2f;images&#x2f;starwood&#x25;20hotels&#x2f;home-grid-taller.png' data-title='Mark&#x20;Boisclair&#x20;Photography,&#x20;Inc.' data-asset-mimetype='image&#x2f;jpeg'>
    <i class="select"></i>
    <div class="card">

   <span class="image"><img class="show-grid" src="/images/starwood%20hotels/home-grid-taller.png" alt="home-grid-taller.png">
			<img class="show-list" src="/images/starwood%20hotels/home-grid-taller.png">
        </span>

        <div class="label">

            <h4>Mark Boisclair Photography, Inc.
            </h4>

            <p class="resolution" data-width="400">400 x 348
            </p>

            <p class="size" data-bytes="57280">55.9 KB
            </p>

            <div class="info">
                <p class="modified"><i class="icon-edit">Modified
                    </i> <span
                            class="date"
                            data-timestamp="1424403137437">1 month</span><span class="user">Mathieu Hannouz</span></p>

                <p class="links" data-links="0"></p>
            </div>

            <p class="type">IMAGE
            </p>

        </div>
    </div>
</article>


<article class="card-asset"  data-path='&#x2f;images&#x2f;starwood&#x25;20hotels&#x2f;lux103go-113922-Desert-Tee-540x377.png' data-title='Mark&#x20;Boisclair&#x20;Photography,&#x20;Inc.' data-asset-mimetype='image&#x2f;jpeg'>
    <i class="select"></i>
    <div class="card">

   <span class="image"><img class="show-grid" src="/images/starwood%20hotels/lux103go-113922-Desert-Tee-540x377.png" alt="lux103go-113922-Desert-Tee-540x377.png">
			<img class="show-list" src="/images/starwood%20hotels/lux103go-113922-Desert-Tee-540x377.png">
        </span>

        <div class="label">

            <h4>Mark Boisclair Photography, Inc.
            </h4>

            <p class="resolution" data-width="540">540 x 377
            </p>

            <p class="size" data-bytes="119268">116.5 KB
            </p>

            <div class="info">
                <p class="modified"><i class="icon-edit">Modified
                    </i> <span
                            class="date"
                            data-timestamp="1424403139328">1 month</span><span class="user">Mathieu Hannouz</span></p>

                <p class="links" data-links="0"></p>
            </div>

            <p class="type">IMAGE
            </p>

        </div>
    </div>
</article>


<article class="card-asset"  data-path='&#x2f;images&#x2f;starwood&#x25;20hotels&#x2f;Phoenician_Desert8-540x377.png' data-title='Mark&#x20;Boisclair&#x20;Photography,&#x20;Inc.' data-asset-mimetype='image&#x2f;jpeg'>
    <i class="select"></i>
    <div class="card">

   <span class="image"><img class="show-grid" src="/images/starwood%20hotels/Phoenician_Desert8-540x377.png" alt="Phoenician_Desert8-540x377.png">
			<img class="show-list" src="/images/starwood%20hotels/Phoenician_Desert8-540x377.png">
        </span>

        <div class="label">

            <h4>Mark Boisclair Photography, Inc.
            </h4>

            <p class="resolution" data-width="540">540 x 377
            </p>

            <p class="size" data-bytes="149330">145.8 KB
            </p>

            <div class="info">
                <p class="modified"><i class="icon-edit">Modified
                    </i> <span
                            class="date"
                            data-timestamp="1424403140230">1 month</span><span class="user">Mathieu Hannouz</span></p>

                <p class="links" data-links="0"></p>
            </div>

            <p class="type">IMAGE
            </p>

        </div>
    </div>
</article>


<article class="card-asset"  data-path='&#x2f;images&#x2f;starwood&#x25;20hotels&#x2f;The-Phoenician-Desert-Tee-1500x447.png' data-title='Mark&#x20;Boisclair&#x20;Photography,&#x20;Inc.' data-asset-mimetype='image&#x2f;jpeg'>
    <i class="select"></i>
    <div class="card">

   <span class="image"><img class="show-grid" src="/images/starwood%20hotels/The-Phoenician-Desert-Tee-1500x447.png" alt="The-Phoenician-Desert-Tee-1500x447.png">
			<img class="show-list" src="/images/starwood%20hotels/The-Phoenician-Desert-Tee-1500x447.png">
        </span>

        <div class="label">

            <h4>Mark Boisclair Photography, Inc.
            </h4>

            <p class="resolution" data-width="1500">1500 x 447
            </p>

            <p class="size" data-bytes="337047">329.1 KB
            </p>

            <div class="info">
                <p class="modified"><i class="icon-edit">Modified
                    </i> <span
                            class="date"
                            data-timestamp="1424403140419">1 month</span><span class="user">Mathieu Hannouz</span></p>

                <p class="links" data-links="0"></p>
            </div>

            <p class="type">IMAGE
            </p>

        </div>
    </div>
</article>


<article class="card-asset"  data-path='&#x2f;images&#x2f;starwood&#x25;20hotels&#x2f;Free&#x25;20Breakfast&#x25;20in&#x25;20Europe.png' data-title='Free&#x20;Breakfast&#x20;in&#x20;Europe.png' data-asset-mimetype='image&#x2f;jpeg'>
    <i class="select"></i>
    <div class="card">

   <span class="image"><img class="show-grid" src="/images/starwood%20hotels/Free%20Breakfast%20in%20Europe.png" alt="Free&#x20;Breakfast&#x20;in&#x20;Europe.png">
			<img class="show-list" src="/images/starwood%20hotels/Free%20Breakfast%20in%20Europe.png">
        </span>

        <div class="label">

            <h4>Free Breakfast in Europe.png
            </h4>

            <p class="resolution" data-width="992">992 x 500
            </p>

            <p class="size" data-bytes="106360">103.9 KB
            </p>

            <div class="info">
                <p class="modified"><i class="icon-edit">Modified
                    </i> <span
                            class="date"
                            data-timestamp="1424368162407">1 month</span><span class="user">Mathieu Hannouz</span></p>

                <p class="links" data-links="0"></p>
            </div>

            <p class="type">IMAGE
            </p>

        </div>
    </div>
</article>


<article class="card-asset"  data-path='&#x2f;images&#x2f;starwood&#x25;20hotels&#x2f;Benefits-CreditCard.png' data-title='Benefits-CreditCard.png' data-asset-mimetype='image&#x2f;png'>
    <i class="select"></i>
    <div class="card">

   <span class="image"><img class="show-grid" src="/images/starwood%20hotels/Benefits-CreditCard.png" alt="Benefits-CreditCard.png">
			<img class="show-list" src="/images/starwood%20hotels/Benefits-CreditCard.png">
        </span>

        <div class="label">

            <h4>Benefits-CreditCard.png
            </h4>

            <p class="resolution" data-width="276">276 x 234
            </p>

            <p class="size" data-bytes="90933">88.8 KB
            </p>

            <div class="info">
                <p class="modified"><i class="icon-edit">Modified
                    </i> <span
                            class="date"
                            data-timestamp="1424402929782">1 month</span><span class="user">Mathieu Hannouz</span></p>

                <p class="links" data-links="0"></p>
            </div>

            <p class="type">IMAGE
            </p>

        </div>
    </div>
</article>


<article class="card-asset"  data-path='&#x2f;images&#x2f;starwood&#x25;20hotels&#x2f;Benefits-Gold.png' data-title='Benefits-Gold.png' data-asset-mimetype='image&#x2f;png'>
    <i class="select"></i>
    <div class="card">

   <span class="image"><img class="show-grid" src="/images/starwood%20hotels/Benefits-Gold.png" alt="Benefits-Gold.png">
			<img class="show-list" src="/images/starwood%20hotels/Benefits-Gold.png">
        </span>

        <div class="label">

            <h4>Benefits-Gold.png
            </h4>

            <p class="resolution" data-width="240">240 x 121
            </p>

            <p class="size" data-bytes="64744">63.2 KB
            </p>

            <div class="info">
                <p class="modified"><i class="icon-edit">Modified
                    </i> <span
                            class="date"
                            data-timestamp="1424402930079">1 month</span><span class="user">Mathieu Hannouz</span></p>

                <p class="links" data-links="0"></p>
            </div>

            <p class="type">IMAGE
            </p>

        </div>
    </div>
</article>


<article class="card-asset"  data-path='&#x2f;images&#x2f;starwood&#x25;20hotels&#x2f;Benefits-SPG-Restaurants-Bars.png' data-title='Benefits-SPG-Restaurants-Bars.png' data-asset-mimetype='image&#x2f;png'>
    <i class="select"></i>
    <div class="card">

   <span class="image"><img class="show-grid" src="/images/starwood%20hotels/Benefits-SPG-Restaurants-Bars.png" alt="Benefits-SPG-Restaurants-Bars.png">
			<img class="show-list" src="/images/starwood%20hotels/Benefits-SPG-Restaurants-Bars.png">
        </span>

        <div class="label">

            <h4>Benefits-SPG-Restaurants-Bars.png
            </h4>

            <p class="resolution" data-width="240">240 x 161
            </p>

            <p class="size" data-bytes="78519">76.7 KB
            </p>

            <div class="info">
                <p class="modified"><i class="icon-edit">Modified
                    </i> <span
                            class="date"
                            data-timestamp="1424402932564">1 month</span><span class="user">Mathieu Hannouz</span></p>

                <p class="links" data-links="0"></p>
            </div>

            <p class="type">IMAGE
            </p>

        </div>
    </div>
</article>


<article class="card-asset"  data-path='&#x2f;images&#x2f;starwood&#x25;20hotels&#x2f;Benefits-Pro.png' data-title='Benefits-Pro.png' data-asset-mimetype='image&#x2f;png'>
    <i class="select"></i>
    <div class="card">

   <span class="image"><img class="show-grid" src="/images/starwood%20hotels/Benefits-Pro.png" alt="Benefits-Pro.png">
			<img class="show-list" src="/images/starwood%20hotels/Benefits-Pro.png">
        </span>

        <div class="label">

            <h4>Benefits-Pro.png
            </h4>

            <p class="resolution" data-width="240">240 x 121
            </p>

            <p class="size" data-bytes="72626">70.9 KB
            </p>

            <div class="info">
                <p class="modified"><i class="icon-edit">Modified
                    </i> <span
                            class="date"
                            data-timestamp="1424402932832">1 month</span><span class="user">Mathieu Hannouz</span></p>

                <p class="links" data-links="0"></p>
            </div>

            <p class="type">IMAGE
            </p>

        </div>
    </div>
</article>


<article class="card-asset"  data-path='&#x2f;images&#x2f;starwood&#x25;20hotels&#x2f;Benefits-Preferred.png' data-title='Benefits-Preferred.png' data-asset-mimetype='image&#x2f;png'>
    <i class="select"></i>
    <div class="card">

   <span class="image"><img class="show-grid" src="/images/starwood%20hotels/Benefits-Preferred.png" alt="Benefits-Preferred.png">
			<img class="show-list" src="/images/starwood%20hotels/Benefits-Preferred.png">
        </span>

        <div class="label">

            <h4>Benefits-Preferred.png
            </h4>

            <p class="resolution" data-width="240">240 x 121
            </p>

            <p class="size" data-bytes="64597">63.1 KB
            </p>

            <div class="info">
                <p class="modified"><i class="icon-edit">Modified
                    </i> <span
                            class="date"
                            data-timestamp="1424402933172">1 month</span><span class="user">Mathieu Hannouz</span></p>

                <p class="links" data-links="0"></p>
            </div>

            <p class="type">IMAGE
            </p>

        </div>
    </div>
</article>


<article class="card-asset"  data-path='&#x2f;images&#x2f;starwood&#x25;20hotels&#x2f;Brand-All.png' data-title='Brand-All.png' data-asset-mimetype='image&#x2f;png'>
    <i class="select"></i>
    <div class="card">

   <span class="image"><img class="show-grid" src="/images/starwood%20hotels/Brand-All.png" alt="Brand-All.png">
			<img class="show-list" src="/images/starwood%20hotels/Brand-All.png">
        </span>

        <div class="label">

            <h4>Brand-All.png
            </h4>

            <p class="resolution" data-width="240">240 x 121
            </p>

            <p class="size" data-bytes="54388">53.1 KB
            </p>

            <div class="info">
                <p class="modified"><i class="icon-edit">Modified
                    </i> <span
                            class="date"
                            data-timestamp="1424402933498">1 month</span><span class="user">Mathieu Hannouz</span></p>

                <p class="links" data-links="0"></p>
            </div>

            <p class="type">IMAGE
            </p>

        </div>
    </div>
</article>


<article class="card-asset"  data-path='&#x2f;images&#x2f;starwood&#x25;20hotels&#x2f;Brand-Element.png' data-title='Brand-Element.png' data-asset-mimetype='image&#x2f;png'>
    <i class="select"></i>
    <div class="card">

   <span class="image"><img class="show-grid" src="/images/starwood%20hotels/Brand-Element.png" alt="Brand-Element.png">
			<img class="show-list" src="/images/starwood%20hotels/Brand-Element.png">
        </span>

        <div class="label">

            <h4>Brand-Element.png
            </h4>

            <p class="resolution" data-width="240">240 x 150
            </p>

            <p class="size" data-bytes="57027">55.7 KB
            </p>

            <div class="info">
                <p class="modified"><i class="icon-edit">Modified
                    </i> <span
                            class="date"
                            data-timestamp="1424402934006">1 month</span><span class="user">Mathieu Hannouz</span></p>

                <p class="links" data-links="0"></p>
            </div>

            <p class="type">IMAGE
            </p>

        </div>
    </div>
</article>


<article class="card-asset"  data-path='&#x2f;images&#x2f;starwood&#x25;20hotels&#x2f;Brand-aLoft.png' data-title='Brand-aLoft.png' data-asset-mimetype='image&#x2f;png'>
    <i class="select"></i>
    <div class="card">

   <span class="image"><img class="show-grid" src="/images/starwood%20hotels/Brand-aLoft.png" alt="Brand-aLoft.png">
			<img class="show-list" src="/images/starwood%20hotels/Brand-aLoft.png">
        </span>

        <div class="label">

            <h4>Brand-aLoft.png
            </h4>

            <p class="resolution" data-width="240">240 x 154
            </p>

            <p class="size" data-bytes="78374">76.5 KB
            </p>

            <div class="info">
                <p class="modified"><i class="icon-edit">Modified
                    </i> <span
                            class="date"
                            data-timestamp="1424402934292">1 month</span><span class="user">Mathieu Hannouz</span></p>

                <p class="links" data-links="0"></p>
            </div>

            <p class="type">IMAGE
            </p>

        </div>
    </div>
</article>


<article class="card-asset"  data-path='&#x2f;images&#x2f;starwood&#x25;20hotels&#x2f;Brand-Four-Points.png' data-title='Brand-Four-Points.png' data-asset-mimetype='image&#x2f;png'>
    <i class="select"></i>
    <div class="card">

   <span class="image"><img class="show-grid" src="/images/starwood%20hotels/Brand-Four-Points.png" alt="Brand-Four-Points.png">
			<img class="show-list" src="/images/starwood%20hotels/Brand-Four-Points.png">
        </span>

        <div class="label">

            <h4>Brand-Four-Points.png
            </h4>

            <p class="resolution" data-width="240">240 x 151
            </p>

            <p class="size" data-bytes="63937">62.4 KB
            </p>

            <div class="info">
                <p class="modified"><i class="icon-edit">Modified
                    </i> <span
                            class="date"
                            data-timestamp="1424402934547">1 month</span><span class="user">Mathieu Hannouz</span></p>

                <p class="links" data-links="0"></p>
            </div>

            <p class="type">IMAGE
            </p>

        </div>
    </div>
</article>


<article class="card-asset"  data-path='&#x2f;images&#x2f;starwood&#x25;20hotels&#x2f;Brand-Sheraton.png' data-title='Brand-Sheraton.png' data-asset-mimetype='image&#x2f;png'>
    <i class="select"></i>
    <div class="card">

   <span class="image"><img class="show-grid" src="/images/starwood%20hotels/Brand-Sheraton.png" alt="Brand-Sheraton.png">
			<img class="show-list" src="/images/starwood%20hotels/Brand-Sheraton.png">
        </span>

        <div class="label">

            <h4>Brand-Sheraton.png
            </h4>

            <p class="resolution" data-width="240">240 x 195
            </p>

            <p class="size" data-bytes="84585">82.6 KB
            </p>

            <div class="info">
                <p class="modified"><i class="icon-edit">Modified
                    </i> <span
                            class="date"
                            data-timestamp="1424402935867">1 month</span><span class="user">Mathieu Hannouz</span></p>

                <p class="links" data-links="0"></p>
            </div>

            <p class="type">IMAGE
            </p>

        </div>
    </div>
</article>
