<li class="listItem all-files" data-open-target="file-detail">
    <div class="row fixed ItemRow">
        <div class="cell middle file-name" style="font-weight: bold;">All Data</div>
        <div class="cell middle file-date">-</div>
        <div class="cell middle file-upload-type">-</div>
        <div class="cell middle file-total-record">18297</div>
        <div class="cell middle file-new-record">10000</div>
        <div class="cell middle file-updated-record">0</div>
        <div class="cell middle file-status">-</div>
        <div class="cell middle expand-row coral-Icon coral-Icon--accordionDown"></div>
    </div>
</li>

<li class="listItem file-detail">
    <div class="row fixed ItemRow">
        <div class="cell middle file-name">weFinance</div>
        <div class="cell middle file-date">Fri Mar 20 22:59:56 UTC 2015</div>
        <div class="cell middle file-upload-type">http</div>
        <div class="cell middle file-total-record">6500</div>
        <div class="cell middle file-new-record">6500</div>
        <div class="cell middle file-updated-record">0</div>
        <div class="cell middle file-status">
            
            COMPLETE
            
        </div>
        <div class="cell middle expand-row"></div>
    </div>
</li>
		
<li class="listItem file-detail">
    <div class="row fixed ItemRow">
        <div class="cell middle file-name">weFinance</div>
        <div class="cell middle file-date">Fri Mar 20 22:58:59 UTC 2015</div>
        <div class="cell middle file-upload-type">http</div>
        <div class="cell middle file-total-record">11797</div>
        <div class="cell middle file-new-record">0</div>
        <div class="cell middle file-updated-record">0</div>
        <div class="cell middle file-status">
            
            COMPLETE
            
        </div>
        <div class="cell middle expand-row"></div>
    </div>
</li>