
<!DOCTYPE html>


<html ng-app="portalApp">
<head>
    <script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script><title ng-bind="pageTitle">
        Adobe AudienceManager | Segment List
    </title>

    <meta name="_tk" content="PlrnVhSfRrKcaz7RF5mu1RJdme1IV72oL50Ap1qZN9A" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">

    <link rel="SHORTCUT ICON" href="/portal/favicon.ico">


    <link href="/css/aam/cui.min.css" rel="stylesheet" type="text/css"/>
    <link type="text/css" rel="stylesheet" href="/css/aam/aui-min.css" />

    <script type="text/javascript" src="/js/aam/jquery-1.7.2.js"></script>
    <script>
        // Use traditional method to serialize arrays
        //  perms : [1,2,3] will become perms=1&perms=2&perms=3
        $.ajaxSettings.traditional = true;

        $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
            var token = $('meta[name=_tk]').attr("content");


            if (options.type == "GET") {


                if (options && options.data && typeof options.data === 'string' && options.data.match(/\+/)) {
                    options.data = options.data.replace(/\+/g, '%20');
                }

                options.cache = false;


                if ($.isEmptyObject(options.data)) {
                    options.data = "no-cache=true";
                }
                else {
                    options.data += "&no-cache=true";
                }
            }

            if (typeof token !== "undefined") {
                return jqXHR.setRequestHeader('AAM-CSRF-Token', token);
            }
        });

        $(document).ajaxComplete(function(event, xhr, settings) {
            if (typeof xhr === "object" && typeof xhr.status !== "undefined") {
                switch (xhr.status) {

                    case 401 :

                        window.document.location.href = "/portal";

                        break;
                }
            }
        });

        window.navHelper = {
            skipStandardTitle: false,
            changeTitleAndActiveTab: function(obj) {
                var self = this,
                        title = obj.title,
                        tab = obj.tab || '';

                if (typeof title == 'string' && title.length) {
                    this.skipStandardTitle = true;
                }

                $(function() {
                    if (self.skipStandardTitle) {
                        $('h2.page-title').html(title);
                    }

                    $('body').removeClass().addClass(tab);
                });
            },
            changeTitle : function(args) {
                window.document.title = window.document.title.replace(/\|\s(.*)$/, "| " + args.title);
            }
        };
    </script>
    <script>
        ADOBE = {
            AM : {
                pid : 1577
            }
        };
    </script>

    <link href="/css/aam/combined.css?id=285df32214cb955"  rel="stylesheet" type="text/css"/>
    <link href="/css/aam/segments.css?v=3_1" rel="stylesheet" type="text/css"/>
    <script src="/portal/combined.js?id=c12a6f6c14cb955"></script>
    <script type="text/javascript" src="/js/aam/aui-min.js"></script>
</head>
<body id="Segments" class="Segments">
<div id="cloud-header">
    <div class="crumbs">
        <a id="marketing-cloud-link" href="https://marketing.adobe.com">
            <div class="logo"></div>
            Adobe Marketing Cloud
        </a>
        <i class="chevron"></i>
        <label id="solutions-crumb">Audience Manager</label>
    </div>
    <div class="drawer">
        <label id="help-button" data-toggle="help-dropdown">Help</label>
        <div id="notifications-badge" data-toggle="notifications-dropdown" class=" empty">
            <span class="one-char empty">0</span>
        </div>
        <span id="user-selector-button" data-toggle="user-selector-dropdown" class="userIcon"></span>
    </div>
</div>
<link href="/css/aam/header-1.1.9.min.css" rel="stylesheet" type="text/css"/>
<script src="/js/aam/header-1.1.9.min.js"></script>

<!-- // Load the user linking wizard.js script -->
<!-- // DO NOT REMOVE the linking-wizard-iframe rule! -->

<style>
    #linking-wizard-container iframe {
        box-sizing: content-box;
    }
</style>
<script>
    /**
     * Global callback function executed by the wizard.js request below
     */
    function removeLinkUsersButton(response) {
        if (response === Object(response) && response.value === Object(response.value) && response.value.success === true) {
            // Have to access the element this way since
            // universalheader.js provides no way to access the selector.
            var elem = $('#link-wizard-button');

            if (elem.length) {
                // Remove the button
                elem.remove();
            }
        }
    }
</script>
<script src="/js/aam/wizard.js?token=4a8632c4904b5160945bfd90f1cd05e1ce3e7467&callback=removeLinkUsersButton"></script>

<script>
    var _cloudHeader = {
        activeSolution : "Media Optimizer",
        activeCapability : "AudienceManager",
        searchProduct : "audiencemanager",
        timeout : 5000,
        server : "https://marketing.adobe.com",
        lang : "en_US",
        hasImsSession : false,
        solutionSpecificLogout : true,
        preConfiguredData: {
            helpText: "Help",
            homeLink: "https://marketing.adobe.com",
            notificationCount: 0,
            notifications: {
                title: "Notifications",
                viewAll: {
                    url: "#",
                    text: ""
                },
                newNotifications: [],
                success: true
            },
            user: {
                info: {
                    displayName: "Marcel&nbsp;Boucher",
                    title: "",
                    avatar: ""
                },
                actions: [
                    {
                        id: "logout",
                        primary: true,
                        url: "/portal/j_spring_security_logout",
                        text: "Sign Out"
                    },
                    {
                        id: "settings",
                        url: "/portal/Account/Partners/EditMyProfileDynamic.ddx",
                        text: "Account Settings"
                    }
                ],
                organizations: [
                    {
                        tenantId: "",
                        active: true,
                        name: "Charles Sherman",
                        avatar: ""
                    }
                ]
            }
        }
    };

    if (typeof window.startWizard === "function") {
        _cloudHeader.imsLinkingToken = true;
        _cloudHeader.linkWizardCallback = window.startWizard
    }
    new adobe.CloudHeader(_cloudHeader);
</script>

<div class="page" role="main">
    <div id="main-rail" class="rail left scroll" role="complementary">
        <div class="wrap">
            <div class="rail-view">

                <script type="text/javascript" src="/js/aam/nav.js"> </script>


                <script type="text/javascript">
                    var userRoles = [

                        "EDIT_DERIVED_SIGNALS"


                        ,

                        "DELETE_MODELS"


                        ,

                        "DELETE_ALL_DESTINATIONS"


                        ,

                        "CREATE_USERS"


                        ,

                        "VIEW_SELF"


                        ,

                        "DELETE_DATASOURCES"


                        ,

                        "DELETE_ALL_SEGMENTS"


                        ,

                        "CREATE_ALL_ALGO_TRAITS"


                        ,

                        "EDIT_DATASOURCES"


                        ,

                        "EDIT_ALL_TRAITS"


                        ,

                        "EDIT_MODELS"


                        ,

                        "VIEW_DATASOURCES"


                        ,

                        "DELETE_ALL_TRAITS"


                        ,

                        "VIEW_ALL_DESTINATIONS"


                        ,

                        "VIEW_DERIVED_SIGNALS"


                        ,

                        "CREATE_DERIVED_SIGNALS"


                        ,

                        "PTRREPORTS"


                        ,

                        "CREATE_DATASOURCES"


                        ,

                        "VIEW_DESTINATION_CONFIGS"


                        ,

                        "DELETE_USERS"


                        ,

                        "CREATE_TRAITS"


                        ,

                        "MAP_ALL_SEGMENTS_TO_MODELS"


                        ,

                        "CREATE_ALL_SEGMENTS"


                        ,

                        "CREATE_ALL_TRAITS"


                        ,

                        "CREATE_DESTINATIONS"


                        ,

                        "MAP_ALL_TRAITS_TO_MODELS"


                        ,

                        "VIEW_MODELS"


                        ,

                        "VIEW_DCS_REGIONS"


                        ,

                        "EDIT_USERS"


                        ,

                        "EDIT_SEGMENTS"


                        ,

                        "DELETE_SEGMENTS"


                        ,

                        "VIEW_SEGMENTS"


                        ,

                        "VIEW_DESTINATIONS"


                        ,

                        "PTRADMIN"


                        ,

                        "PTRUSER"


                        ,

                        "MAP_ALL_TO_SEGMENTS"


                        ,

                        "VIEW_TRAITS"


                        ,

                        "EDIT_TRAITS"


                        ,

                        "VIEW_ALL_TRAITS"


                        ,

                        "EDIT_ALL_DESTINATIONS"


                        ,

                        "VIEW_USERS"


                        ,

                        "DELETE_TRAITS"


                        ,

                        "VIEW_ALL_SEGMENTS"


                        ,

                        "EDIT_ALL_SEGMENTS"


                        ,

                        "CREATE_MODELS"


                        ,

                        "MAP_ALL_TO_DESTINATIONS"


                        ,

                        "VIEW_TAGS"


                        ,

                        "DELETE_DERIVED_SIGNALS"


                        ,

                        "DELETE_DESTINATIONS"


                        ,

                        "EDIT_DESTINATIONS"


                        ,

                        "CREATE_SEGMENTS"


                    ];

                    var permissions = {
                        enabled : !!userRoles
                    };

                    function showTableauTriange(id) {
                        $('#' + id + ' .triangle_right').each(function() {
                            var t = $(this),
                                    p = ('?portalReportID=' + t.data('id')).toLowerCase();
                            if (location.search.replace(/#.*?/, '').toLowerCase() == p) {
                                t.css('visibility', 'visible').closest('section').addClass('open');
                            }
                        });
                    }
                </script>


                <section class="links open foldable" id="reportingNav">
                    <a class="heading">Analytics</a>
                    <nav class="fold">
                        <div class="sub_item" id="nav_dashboard"><a href="/portal/Analytics/reports.ddx#/dashboard" >Dashboard</a><div class="triangle_right"></div></div>


                        <div class="sub_item" id="nav_general_reports"><a href="/portal/Analytics/reports.ddx#/general-reports" >General Reports</a><div class="triangle_right"></div></div>


                        <div class="sub_item" id="nav_trend_reports"><a href="/portal/Analytics/reports.ddx#/trend-graph" >Trend Reports</a><div class="triangle_right"></div></div>

                        <div class="sub_item" id="nav_custom_reports"><a href="/portal/Analytics/CustomReports.ddx" >Custom Reports</a><div class="triangle_right"></div></div>

                        <div class="sub_item" id="nav_onboarding_status"><a href="/portal/Analytics/OnboardingStatus.ddx#/onboarding-status" >Onboarding Status</a><div class="triangle_right"></div></div>

                        <div class="sub_item" id="nav_outbound_history"><a href="/portal/Analytics/OutboundHistory.ddx#/outbound-history" >Outbound History</a><div class="triangle_right"></div></div>
                    </nav>
                </section>


                <section id="manageDataNav" class="links open foldable">
                    <a class="heading">Manage Data</a>
                    <nav class="fold">

                        <div class="sub_item" id="nav_datasource"><a href="/portal/Segments/DatasourceManagement.ddx#datasources/list">Data Sources</a><div class="triangle_right"></div></div>


                        <div class="sub_item" id="nav_traits"><a href="/portal/Traits/Traits.ddx#show/list">Traits</a><div class="triangle_right"></div></div>


                        <div class="sub_item" id="nav_segments"><a href="/portal/Segments/SegmentBuilder.ddx">Segments</a><div class="triangle_right"></div></div>


                        <div class="sub_item" id="nav_destinations"><a href="/portal/Segments/ListDestinations.ddx">Destinations</a><div class="triangle_right"></div></div>


                        <div class="sub_item" id="nav_manageDerivedSignals"><a href="/portal/Segments/ManageDerivedSignal.ddx">Derived Signals</a><div class="triangle_right"></div></div>


                        <div class="sub_item" id="nav_models"><a href="/portal/Segments/Models.ddx">Models</a><div class="triangle_right"></div></div>


                        <div class="sub_item" id="nav_tim"><a href="/portal/tim/TimHome.ddx">Tags</a><div class="triangle_right"></div></div>

                    </nav>
                </section>
                <section id="tools" class="links open foldable">
                    <a class="heading">Tools</a>

                    <nav class="fold">
                        <div class="sub_item" id="nav_visitorProfileViewer"><a href="/portal/Profile/VisitorProfileViewer.ddx">Visitor Profile Viewer</a></div>
                    </nav>

                </section>




                <section id="adminNav" class="links foldable">
                    <a class="heading">Administration</a>
                    <nav class="fold">
                        <div id="nav_users" class="sub_item"><a href="/portal/Account/Partners/UserManagement.ddx#user/list">Users</a><div class="triangle_right"></div></div>
                        <div id="nav_groups" class="sub_item"><a href="/portal/Account/Partners/GroupManagement.ddx#group/list">Groups</a><div class="triangle_right"></div></div>
                        <div id="nav_limits" class="sub_item"><a href="/portal/Account/Partners/Limits.ddx#/limits">Limits</a><div class="triangle_right"></div></div>
                    </nav>
                </section>




                <div id="modal-template"></div>
            </div>
        </div>
    </div>
    <div id="content" class="content">
        <flash class="coral-Alert coral-Alert--{{flash.getMessage().type}}" ng-show="flash.getMessage()">
            <i class="coral-Alert-typeIcon coral-Icon coral-Icon--sizeS icon-{{flash.getMessage().type}}"></i>
            <b class="coral-Alert-title">{{flash.getMessage().type|uppercase}}</b>
            <span ng-bind-html="flash.getMessage().text"></span>
        </flash>
        <div class="secondary-nav">
            <a id="nav_button" class="header-button left" href="#">
                <i class="icon-navigation medium coral-Icon coral-Icon--sizeM coral-Icon--navigation"></i>
            </a>
            <h2 class="page-title"></h2><span class="context-help" title="Help" data-id="c_tb_dashboard.html">&nbsp;</span>
            <div class="icongroup right" id="contextNav"></div>
        </div>
        <div id="scroll-content">
            <div id="mainContent">

                <!--[if IE]><script type="text/javascript" src="/js/aam/excanvas.min.js"></script><![endif]-->
                <!-- Segment Builder Templates -->


                <script src="/portal/combined.js?id=8d6c114214cb955"></script>




                <!-- CloudViz -->


                <link rel="stylesheet" href="/css/aam/cloudviz.min.css" type="text/css" />
                <script type="text/javascript" src="/js/aam/cloudviz/d3.js"></script>
                <script type="text/javascript" src="/js/aam/cloudviz/dv.js"></script>
                <script type="text/javascript" src="/js/aam/cloudviz/cloudviz.js"></script>

                <script>
                    window._globalDataSources = [{"pid":1577,"name":"CRM","description":"","status":"ACTIVE","inboundS2S":true,"outboundS2S":false,"useAudienceManagerVisitorID":false,"allowDataSharing":false,"permissions":["READ","WRITE","CREATE","DELETE","MAP_TO_DESTINATIONS","MAP_TO_MODELS"],"integrationCode":"","masterDataSourceIdProvider":false,"uniqueTraitIntegrationCodes":false,"uniqueSegmentIntegrationCodes":false,"marketingCloudVisitorIdVersion":0,"idType":"COOKIE","dataSourceId":1948,"containerIds":[]},{"pid":1577,"name":"Analytics","description":"","status":"ACTIVE","inboundS2S":true,"outboundS2S":false,"useAudienceManagerVisitorID":false,"allowDataSharing":false,"permissions":["READ","WRITE","CREATE","DELETE","MAP_TO_DESTINATIONS","MAP_TO_MODELS"],"integrationCode":"","masterDataSourceIdProvider":false,"uniqueTraitIntegrationCodes":false,"uniqueSegmentIntegrationCodes":false,"marketingCloudVisitorIdVersion":0,"idType":"COOKIE","dataSourceId":1949,"containerIds":[]},{"pid":1577,"name":"DFA","description":"","status":"ACTIVE","inboundS2S":true,"outboundS2S":false,"useAudienceManagerVisitorID":false,"allowDataSharing":false,"permissions":["READ","WRITE","CREATE","DELETE","MAP_TO_DESTINATIONS","MAP_TO_MODELS"],"integrationCode":"","masterDataSourceIdProvider":false,"uniqueTraitIntegrationCodes":false,"uniqueSegmentIntegrationCodes":false,"marketingCloudVisitorIdVersion":0,"idType":"COOKIE","dataSourceId":1950,"containerIds":[]},{"pid":1577,"name":"Media Optimizer","description":"Adobe Media Optimizer (AdLens) HTTP S2S Destination","status":"ACTIVE","inboundS2S":true,"outboundS2S":false,"useAudienceManagerVisitorID":true,"allowDataSharing":false,"permissions":["READ","WRITE","CREATE","DELETE","MAP_TO_DESTINATIONS","MAP_TO_MODELS"],"integrationCode":"411","masterDataSourceIdProvider":false,"uniqueTraitIntegrationCodes":false,"uniqueSegmentIntegrationCodes":false,"marketingCloudVisitorIdVersion":0,"idType":"COOKIE","dataSourceId":2056,"containerIds":[]},{"pid":1577,"name":"Charles Sherman","description":"For use with visitor ID service and CRS","status":"ACTIVE","inboundS2S":false,"outboundS2S":false,"useAudienceManagerVisitorID":false,"allowDataSharing":false,"permissions":["READ","WRITE","CREATE","DELETE","MAP_TO_DESTINATIONS","MAP_TO_MODELS"],"integrationCode":"AVID","masterDataSourceIdProvider":false,"uniqueTraitIntegrationCodes":false,"uniqueSegmentIntegrationCodes":false,"marketingCloudVisitorIdVersion":2,"idType":"COOKIE","dataSourceId":15489,"containerIds":[]},{"pid":1577,"name":"Audience Library","description":"","status":"ACTIVE","inboundS2S":false,"outboundS2S":false,"useAudienceManagerVisitorID":false,"allowDataSharing":false,"permissions":["READ","WRITE","CREATE","DELETE","MAP_TO_DESTINATIONS","MAP_TO_MODELS"],"integrationCode":"AudienceLibrary","masterDataSourceIdProvider":false,"uniqueTraitIntegrationCodes":false,"uniqueSegmentIntegrationCodes":false,"marketingCloudVisitorIdVersion":2,"idType":"COOKIE","dataSourceId":15490,"containerIds":[]},{"pid":1577,"name":"Report Suite - geo1xx114","description":"","status":"ACTIVE","inboundS2S":true,"outboundS2S":false,"useAudienceManagerVisitorID":true,"allowDataSharing":false,"permissions":["READ","WRITE","CREATE","DELETE","MAP_TO_DESTINATIONS","MAP_TO_MODELS"],"integrationCode":"{&quot;suite&quot;:&quot;geo1xx114&quot;, &quot;datacenter&quot;:&quot;sjo&quot;}","masterDataSourceIdProvider":false,"uniqueTraitIntegrationCodes":false,"uniqueSegmentIntegrationCodes":false,"marketingCloudVisitorIdVersion":2,"idType":"COOKIE","dataSourceId":15491,"containerIds":[]},{"pid":1577,"name":"Report Suite - geo1xxfsi114","description":"","status":"ACTIVE","inboundS2S":true,"outboundS2S":false,"useAudienceManagerVisitorID":true,"allowDataSharing":false,"permissions":["READ","WRITE","CREATE","DELETE","MAP_TO_DESTINATIONS","MAP_TO_MODELS"],"integrationCode":"{&quot;suite&quot;:&quot;geo1xxfsi114&quot;, &quot;datacenter&quot;:&quot;sjo&quot;}","masterDataSourceIdProvider":false,"uniqueTraitIntegrationCodes":false,"uniqueSegmentIntegrationCodes":false,"marketingCloudVisitorIdVersion":2,"idType":"COOKIE","dataSourceId":15492,"containerIds":[]},{"pid":1577,"name":"Report Suite - geo1xxmedia114","description":"","status":"ACTIVE","inboundS2S":true,"outboundS2S":false,"useAudienceManagerVisitorID":true,"allowDataSharing":false,"permissions":["READ","WRITE","CREATE","DELETE","MAP_TO_DESTINATIONS","MAP_TO_MODELS"],"integrationCode":"{&quot;suite&quot;:&quot;geo1xxmedia114&quot;, &quot;datacenter&quot;:&quot;sjo&quot;}","masterDataSourceIdProvider":false,"uniqueTraitIntegrationCodes":false,"uniqueSegmentIntegrationCodes":false,"marketingCloudVisitorIdVersion":2,"idType":"COOKIE","dataSourceId":15493,"containerIds":[]},{"pid":1577,"name":"Report Suite - geo1xxmobile114","description":"","status":"ACTIVE","inboundS2S":true,"outboundS2S":false,"useAudienceManagerVisitorID":true,"allowDataSharing":false,"permissions":["READ","WRITE","CREATE","DELETE","MAP_TO_DESTINATIONS","MAP_TO_MODELS"],"integrationCode":"{&quot;suite&quot;:&quot;geo1xxmobile114&quot;, &quot;datacenter&quot;:&quot;sjo&quot;}","masterDataSourceIdProvider":false,"uniqueTraitIntegrationCodes":false,"uniqueSegmentIntegrationCodes":false,"marketingCloudVisitorIdVersion":2,"idType":"COOKIE","dataSourceId":15494,"containerIds":[]},{"pid":1577,"name":"we.Finance CRM Data","description":"Customer attributes from the customer relationship management system, uploaded against a hashed (obfuscated) customer ID.","status":"ACTIVE","inboundS2S":false,"outboundS2S":false,"useAudienceManagerVisitorID":false,"allowDataSharing":false,"permissions":["READ","WRITE","CREATE","DELETE","MAP_TO_DESTINATIONS","MAP_TO_MODELS"],"integrationCode":"crm_id","masterDataSourceIdProvider":false,"uniqueTraitIntegrationCodes":false,"uniqueSegmentIntegrationCodes":false,"marketingCloudVisitorIdVersion":0,"idType":"COOKIE","dataSourceId":19638,"containerIds":[]},{"pid":1577,"name":"Data Source","description":"Data source for demo account","status":"ACTIVE","inboundS2S":false,"outboundS2S":false,"useAudienceManagerVisitorID":true,"allowDataSharing":true,"permissions":["READ","WRITE","CREATE","DELETE","MAP_TO_DESTINATIONS","MAP_TO_MODELS"],"masterDataSourceIdProvider":false,"uniqueTraitIntegrationCodes":false,"uniqueSegmentIntegrationCodes":false,"marketingCloudVisitorIdVersion":0,"idType":"COOKIE","dataSourceId":20882,"containerIds":[]}];
                    window._globalDataSourcesForTraits = [{"pid":1577,"name":"CRM","description":"","status":"ACTIVE","inboundS2S":true,"outboundS2S":false,"useAudienceManagerVisitorID":false,"allowDataSharing":false,"permissions":["READ","WRITE","CREATE","DELETE","MAP_TO_SEGMENTS","MAP_TO_MODELS","CREATE_ALGO_TRAITS"],"integrationCode":"","masterDataSourceIdProvider":false,"uniqueTraitIntegrationCodes":false,"uniqueSegmentIntegrationCodes":false,"marketingCloudVisitorIdVersion":0,"idType":"COOKIE","dataSourceId":1948,"containerIds":[]},{"pid":1577,"name":"Analytics","description":"","status":"ACTIVE","inboundS2S":true,"outboundS2S":false,"useAudienceManagerVisitorID":false,"allowDataSharing":false,"permissions":["READ","WRITE","CREATE","DELETE","MAP_TO_SEGMENTS","MAP_TO_MODELS","CREATE_ALGO_TRAITS"],"integrationCode":"","masterDataSourceIdProvider":false,"uniqueTraitIntegrationCodes":false,"uniqueSegmentIntegrationCodes":false,"marketingCloudVisitorIdVersion":0,"idType":"COOKIE","dataSourceId":1949,"containerIds":[]},{"pid":1577,"name":"DFA","description":"","status":"ACTIVE","inboundS2S":true,"outboundS2S":false,"useAudienceManagerVisitorID":false,"allowDataSharing":false,"permissions":["READ","WRITE","CREATE","DELETE","MAP_TO_SEGMENTS","MAP_TO_MODELS","CREATE_ALGO_TRAITS"],"integrationCode":"","masterDataSourceIdProvider":false,"uniqueTraitIntegrationCodes":false,"uniqueSegmentIntegrationCodes":false,"marketingCloudVisitorIdVersion":0,"idType":"COOKIE","dataSourceId":1950,"containerIds":[]},{"pid":1577,"name":"Media Optimizer","description":"Adobe Media Optimizer (AdLens) HTTP S2S Destination","status":"ACTIVE","inboundS2S":true,"outboundS2S":false,"useAudienceManagerVisitorID":true,"allowDataSharing":false,"permissions":["READ","WRITE","CREATE","DELETE","MAP_TO_SEGMENTS","MAP_TO_MODELS","CREATE_ALGO_TRAITS"],"integrationCode":"411","masterDataSourceIdProvider":false,"uniqueTraitIntegrationCodes":false,"uniqueSegmentIntegrationCodes":false,"marketingCloudVisitorIdVersion":0,"idType":"COOKIE","dataSourceId":2056,"containerIds":[]},{"pid":1577,"name":"Charles Sherman","description":"For use with visitor ID service and CRS","status":"ACTIVE","inboundS2S":false,"outboundS2S":false,"useAudienceManagerVisitorID":false,"allowDataSharing":false,"permissions":["READ","WRITE","CREATE","DELETE","MAP_TO_SEGMENTS","MAP_TO_MODELS","CREATE_ALGO_TRAITS"],"integrationCode":"AVID","masterDataSourceIdProvider":false,"uniqueTraitIntegrationCodes":false,"uniqueSegmentIntegrationCodes":false,"marketingCloudVisitorIdVersion":2,"idType":"COOKIE","dataSourceId":15489,"containerIds":[]},{"pid":1577,"name":"Audience Library","description":"","status":"ACTIVE","inboundS2S":false,"outboundS2S":false,"useAudienceManagerVisitorID":false,"allowDataSharing":false,"permissions":["READ","WRITE","CREATE","DELETE","MAP_TO_SEGMENTS","MAP_TO_MODELS","CREATE_ALGO_TRAITS"],"integrationCode":"AudienceLibrary","masterDataSourceIdProvider":false,"uniqueTraitIntegrationCodes":false,"uniqueSegmentIntegrationCodes":false,"marketingCloudVisitorIdVersion":2,"idType":"COOKIE","dataSourceId":15490,"containerIds":[]},{"pid":1577,"name":"Report Suite - geo1xx114","description":"","status":"ACTIVE","inboundS2S":true,"outboundS2S":false,"useAudienceManagerVisitorID":true,"allowDataSharing":false,"permissions":["READ","WRITE","CREATE","DELETE","MAP_TO_SEGMENTS","MAP_TO_MODELS","CREATE_ALGO_TRAITS"],"integrationCode":"{&quot;suite&quot;:&quot;geo1xx114&quot;, &quot;datacenter&quot;:&quot;sjo&quot;}","masterDataSourceIdProvider":false,"uniqueTraitIntegrationCodes":false,"uniqueSegmentIntegrationCodes":false,"marketingCloudVisitorIdVersion":2,"idType":"COOKIE","dataSourceId":15491,"containerIds":[]},{"pid":1577,"name":"Report Suite - geo1xxfsi114","description":"","status":"ACTIVE","inboundS2S":true,"outboundS2S":false,"useAudienceManagerVisitorID":true,"allowDataSharing":false,"permissions":["READ","WRITE","CREATE","DELETE","MAP_TO_SEGMENTS","MAP_TO_MODELS","CREATE_ALGO_TRAITS"],"integrationCode":"{&quot;suite&quot;:&quot;geo1xxfsi114&quot;, &quot;datacenter&quot;:&quot;sjo&quot;}","masterDataSourceIdProvider":false,"uniqueTraitIntegrationCodes":false,"uniqueSegmentIntegrationCodes":false,"marketingCloudVisitorIdVersion":2,"idType":"COOKIE","dataSourceId":15492,"containerIds":[]},{"pid":1577,"name":"Report Suite - geo1xxmedia114","description":"","status":"ACTIVE","inboundS2S":true,"outboundS2S":false,"useAudienceManagerVisitorID":true,"allowDataSharing":false,"permissions":["READ","WRITE","CREATE","DELETE","MAP_TO_SEGMENTS","MAP_TO_MODELS","CREATE_ALGO_TRAITS"],"integrationCode":"{&quot;suite&quot;:&quot;geo1xxmedia114&quot;, &quot;datacenter&quot;:&quot;sjo&quot;}","masterDataSourceIdProvider":false,"uniqueTraitIntegrationCodes":false,"uniqueSegmentIntegrationCodes":false,"marketingCloudVisitorIdVersion":2,"idType":"COOKIE","dataSourceId":15493,"containerIds":[]},{"pid":1577,"name":"Report Suite - geo1xxmobile114","description":"","status":"ACTIVE","inboundS2S":true,"outboundS2S":false,"useAudienceManagerVisitorID":true,"allowDataSharing":false,"permissions":["READ","WRITE","CREATE","DELETE","MAP_TO_SEGMENTS","MAP_TO_MODELS","CREATE_ALGO_TRAITS"],"integrationCode":"{&quot;suite&quot;:&quot;geo1xxmobile114&quot;, &quot;datacenter&quot;:&quot;sjo&quot;}","masterDataSourceIdProvider":false,"uniqueTraitIntegrationCodes":false,"uniqueSegmentIntegrationCodes":false,"marketingCloudVisitorIdVersion":2,"idType":"COOKIE","dataSourceId":15494,"containerIds":[]},{"pid":1577,"name":"we.Finance CRM Data","description":"Customer attributes from the customer relationship management system, uploaded against a hashed (obfuscated) customer ID.","status":"ACTIVE","inboundS2S":false,"outboundS2S":false,"useAudienceManagerVisitorID":false,"allowDataSharing":false,"permissions":["READ","WRITE","CREATE","DELETE","MAP_TO_SEGMENTS","MAP_TO_MODELS","CREATE_ALGO_TRAITS"],"integrationCode":"crm_id","masterDataSourceIdProvider":false,"uniqueTraitIntegrationCodes":false,"uniqueSegmentIntegrationCodes":false,"marketingCloudVisitorIdVersion":0,"idType":"COOKIE","dataSourceId":19638,"containerIds":[]},{"pid":1577,"name":"Data Source","description":"Data source for demo account","status":"ACTIVE","inboundS2S":false,"outboundS2S":false,"useAudienceManagerVisitorID":true,"allowDataSharing":true,"permissions":["READ","WRITE","CREATE","DELETE","MAP_TO_SEGMENTS","MAP_TO_MODELS","CREATE_ALGO_TRAITS"],"masterDataSourceIdProvider":false,"uniqueTraitIntegrationCodes":false,"uniqueSegmentIntegrationCodes":false,"marketingCloudVisitorIdVersion":0,"idType":"COOKIE","dataSourceId":20882,"containerIds":[]}];
                </script>

                <style type="text/css">
                    /* Overrides for AdobeUI and old Audience Manager conflicts */
                    ul, ol {
                        margin : 0
                    }

                    .aui_loading {
                        float:right;
                        margin-right:50%;
                        margin-top: 0px;
                    }

                    /* CUI override */
                    input[type=radio] {
                        opacity: 1;
                    }
                </style>
                <div id="SegmentBuilder">
                    <div id="SegmentList" class="noshow">
                        <div class="top_toolbar"></div>
                        <div id="alert_loading" class="aui_loading"></div>
                        <div class="left">
                            <div class="panels segment_storage">
                                <h4>Segment Storage</h4>
                            </div>
                        </div>
                        <div class="panels segment_list">
                            <table class="table" id="segment_table" width="100%">
                                <thead>
                                <tr>
                                    <th class="column_checkbox disabled">
                                        <img src="/css/aam/images/checkbox_unchecked.png" class="AUI_Menu_icon result_checkbox_disabled" />
                                        <img src="/css/aam/images/checkbox_checked.png" class="AUI_Menu_icon result_checkbox_enabled" />
                                    </th>
                                    <th class="sortable" data-type="sid">Segment ID</th>
                                    <th class="sortable" data-type="name">Name</th>
                                    <th class="sortable" data-type="description">Description</th>
                                    <th class="sortable" data-type="status">Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody id="segment_table_tbody"></tbody>
                            </table>
                            <div id="pagination"></div>
                        </div>
                        <br class="clear" />
                    </div>
                    <div id="SegmentView" class="noshow">
                        <div class="top_toolbar"></div>
                        <h1 id="segment-name" class="page_title">Segment Name</h1><div class="context-help" title="Help" data-id="c_segment_summary.html">&nbsp;</div>
                        <div id="dashboard1" class="dashboard">
                            <div id="segmentInfoW" class="widget info basicInfo"></div>
                            <div id="segmentUniquesW" class="widget last"></div>
                            <div class="clear"></div>
                        </div>
                        <div id="dashboard2" class="dashboard no-border">
                            <div id="ruleDisplay" class="ruleDisplay panel light-bg">
                                <h3>Segment Rules for "Trait Name"</h3>
                                <div class="content groupTable">
                                    <table></table>
                                </div>
                            </div>
                            <div id="segListW" class="panel light-bg">
                                <h3>Destinations</h3>
                                <div class="content">
                                    <table class="table" id="destination_table" width="100%">
                                        <thead>
                                        <tr>
                                            <th class="sortable" data-type="destination_id">Destination ID</th>
                                            <th class="sortable" data-type="destination_name">Name</th>
                                            <th class="sortable" data-type="destination_type">Type</th>
                                            <th data-type="derivedMapping">URL, Key Value Pair or ID</th>
                                        </tr>
                                        </thead>
                                        <tbody id="destination_table_tbody"></tbody>
                                    </table>
                                    <div class="table_pagination"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div id="SegmentEdit" class="noshow">
                        <h1 class="page_title">Segment Builder</h1>
                        <div id="seBasicInfo"></div>
                        <div id="seTraits"></div>
                        <div id="seDestinations"></div>
                        <div class="editSegmentBtns"><button class="save primary">Save</button> <button class="cancel">Cancel</button></div>
                    </div>

                </div>





                <script src="/portal/combined.js?id=d6745c8214cb955"></script>


            </div>

            <div id="footer" class="footer">
                <div class="copyright">&copy; <span id="copyrightYear"></span> Adobe Systems Incorporated. All Rights <span id="reservedForIP" style="display: inline; text-align: left;">Reserved.</span> <span id="ipAddressHidden" style="visibility: hidden;">68.67.173.14</span></div>
                <div class="links">
                    <a target="_blank" href="http://marketlng.adobe.com/resources/help/en_US/aam/index.com">Help</a>
                    <a target="_blank" href="http://www.adobe.com/misc/terms.html">Terms of Use</a>
                    <a target="_blank" href="http://www.adobe.com/privacy.html">Privacy Policy</a>
                    <span>Language: <a href="#">English</a></span>
                </div>
                <input type="hidden" name="_tk" id="_tk" value="PlrnVhSfRrKcaz7RF5mu1RJdme1IV72oL50Ap1qZN9A" />
            </div>

            <script type="text/javascript">
                (function() {
                    var copyrightYear = document.getElementById('copyrightYear');

                    copyrightYear.style.cssText = 'display: inline; text-align: left;';
                    copyrightYear.innerHTML = new Date().getFullYear();

                    var reservedForIP = document.getElementById('reservedForIP'),
                            ipAddressHidden = document.getElementById('ipAddressHidden');

                    function toggleIP() {
                        var visibility = ipAddressHidden.style.visibility === 'hidden' ? 'visible' : 'hidden';

                        ipAddressHidden.style.visibility = visibility;
                    }

                    if (reservedForIP.addEventListener) {
                        reservedForIP.addEventListener('click', toggleIP);
                    } else if (reservedForIP.attachEvent) {
                        reservedForIP.attachEvent('onclick', toggleIP);
                    }
                }());
            </script>


        </div>
    </div>
    <div id="right-rail" class="rail right scroll">

    </div>
</div>

<div class="dialog" style="display:none;" id="alertBoxDialog" title="Alert">
    <div id="alertError" class="message failure"><div class="error">ERROR: </div> <span class='errorMsg'></span></div>
    <div id="alertWarning" class="message notice"><div class="warning">&nbsp;</div><span class='warningMsg'></span></div>
    <div id="alertMsg"></div>
    <div class="buttons"><button class="oldClose">Close</button></div>
</div>

<div id="overlayBackground" style="display:none;"></div>

<cui-modal visible="modals.loading" loading-modal>
    <span header><div class="coral-Wait coral-Wait--large"></div>Loading</span>
    <span content><div class="coral-Wait coral-Wait--large"></div>Loading</span>

    <div template class="coral-Modal" id="loadingModal">
        <div class="coral-Modal-header">
            <h2 class="coral-Modal-title coral-Heading coral-Heading--2"></h2>
            <i class="coral-Modal-typeIcon coral-Icon coral-Icon--sizeS"></i>
        </div>
        <div class="coral-Modal-body"></div>
    </div>
</cui-modal>


<script>
    $(function() {

        // Default state of left rail is closed. When integration is mostly finished,
        // remove this line and call cui.css BEFORE adobe_am.css
        $('.page').css({ left: 0 });

        // Hiding/showing of main rail
        $('#nav_button').click(
                function() {
                    if ($('.page').css('left') === '0px') {
                        $('.page').animate({ left: '-15rem' }, 300, function() { $(window).trigger('App:Nav:Closed'); });
                    } else {
                        $('.page').animate({ left: 0 }, 300, function() { $(window).trigger('App:Nav:Opened'); });
                    }
                }
        );

        // Hiding/showing of right rail
        $('.drawer .icon-tableandchart').toggle(
                function() { $('#right-rail').animate({ right: 0 }, 300); },
                function() { $('#right-rail').animate({ right: '-15rem' }, 300); }
        );

        // Expanding and contracting of submenus within main rail.
        var subHt = $('.open .sub_item').eq(0).height();

        $('.rail-view a.heading').click(function() {
            var hdr = $(this).closest('section.links');

            // Calculating the exact height of the subnav for a much smoother animation
            var subNum = $(this).next('.fold').find('> .sub_item').length;
            var nestOpenSubNum = $(this).next('.fold').find('.foldable.open .sub_item').length;
            subNum += nestOpenSubNum;
            var speed = (subNum * 3/subNum) * 100;
            var totalSubNavHt = subNum * subHt;

            if (hdr.hasClass('open') || $(this).next('.fold')[0].style.display === 'block') {
                $(this).next('.fold').slideUp(speed, function() { hdr.removeClass('open'); });
            } else {
                hdr.addClass('open');
                $(this).next('.fold')
                        .css({ height: 0, display: 'block' })
                        .animate({ height: totalSubNavHt }, speed, function() {
                            $(this).css({ height: 'auto' });
                        });
            }
        });

        // Use body's id for page title and assign corresponding inline help filename.
        var pageTitle, help;

        switch ($('body').attr('id')) {
            case 'AnalyticsQuickView':  pageTitle = 'Dashboard'; break;
            case 'GeneralReports':      pageTitle = 'General Reports'; break;
            case 'TrendReports':        pageTitle = 'Trend Reports'; break;
            case 'CustomReports':       pageTitle = 'Custom Reports'; break;
            case 'CustomerReports':     pageTitle = 'Reports'; break;
            //case 'OnboardingStatus':    pageTitle = 'Onboarding Status'; break;
            //case 'OutboundHistory':     pageTitle = 'Outbound History'; break;
            case 'Traits':              pageTitle = 'Traits'; help = 'c_tb_dashboard.html'; break;
            case 'Segments':            pageTitle = 'Segments'; help = 'c_segments_main.html'; break;
            case 'DestinationList':     pageTitle = 'Destinations'; help = 'c_dest_main_dashboard.html'; break;
            case 'ManageDestination':   pageTitle = 'Destinations'; help = 'c_dest_main_dashboard.html'; break;
            case 'DerivedSignals':      pageTitle = 'Derived Signals'; help = 'c_tb_derived_signal.html'; break;
            case 'ManageHome':          pageTitle = 'Models'; help = 'c_models_list_view.html'; break;
            case 'Tags':                pageTitle = 'Tags'; break;
            case 'TagsHistory':         pageTitle = 'TIM History'; break;
            case 'VisitorProfileViewer':pageTitle = 'Visitor Profile Viewer'; break;
            case 'Management':          pageTitle = 'Users'; $('#adminNav').addClass('open'); break;
            case 'GroupManagement':     pageTitle = 'Groups'; $('#adminNav').addClass('open'); break;
            case 'Limits':              pageTitle = 'Limits'; $('#adminNav').addClass('open'); break;
            case 'AdminUsers':          pageTitle = 'My Account'; break;
        }

        if (!navHelper.skipStandardTitle) {
            $('.page-title').html(pageTitle);
        }

        if (help) { $('.secondary-nav .context-help').attr({ 'data-id': help }).show() }

        // Removes ugly scrollbar off left rail when menu height exceeds
        // height of window, but turns scrollbar on when user mouseovers it.
        // (toggleClass doesn't work well here for some reason)
        $('#main-rail').hover(
                function() { $(this).addClass('scrollable'); },
                function() { $(this).removeClass('scrollable'); }
        );

        // Remove section headers of sections that user does not have access to.
        $('nav.fold').each(function() {
            if (!$(this).find('.sub_item').length) {
                $(this).closest('section').remove();
            }
        });


    });
</script>



<script type="text/javascript">if (!NREUMQ.f) { NREUMQ.f=function() {NREUMQ.push(["load",new Date().getTime()]);var e=document.createElement("script");e.type="text/javascript";e.src=(("http:"===document.location.protocol)?"http:":"https:") + "//" + "js-agent.newrelic.com/nr-100.js";document.body.appendChild(e);if(NREUMQ.a)NREUMQ.a();};NREUMQ.a=window.onload;window.onload=NREUMQ.f;};NREUMQ.push(["nrfj","bam.nr-data.net","73d698cd70","2307655","MwcGZhBWVkBZU0JYDgpNN0YQQkxAeVNCWA4KTTdXBVpdXUxyQ1gNAAcW",0,373,new Date().getTime(),"","","","",""]);</script></body>
</html>