<div class="attributeTypes step">
    <i class="coral-Icon coral-Icon--chevronRight al-rule-chevronRight"></i>
    <span class="coral-Select segmentPart al-select" data-init="select" data-triggerEvent="attributeType:selected">
        <button type="button" class="coral-Select-button coral-MinimalButton">
            <span class="coral-Select-button-text">Select Attribute Type</span>
        </button>
        <select class="coral-Select-select">
            <option>Select Attribute Type</option>

            <option class="lastStep" data-name="dimension"
                    data-templatePath="/audiencelibrary/adobe-fsi-demo/audiences/folder.newaudience.dimension.html"
                    >
                Dimensions
            </option>

            <option class="lastStep" data-name="events"
                    data-templatePath="/audiencelibrary/adobe-fsi-demo/audiences/folder.newaudience.events.html"
                    >
                Events
            </option>
        </select>
    </span>
</div>
