<!DOCTYPE HTML>
<html >
<head>
    <title>Audiences</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name = "viewport" content = "initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <link rel="icon" type="image/vnd.microsoft.icon" href="/etc/designs/mac/favicon.ico">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/etc/designs/mac/favicon.ico">


    <link rel="apple-touch-icon" sizes="144x144" href="/etc/designs/mac/touchicon.png">

    <script>if(!window.console){var f=function(){};console={log:f,trace:f,debug:f,info:f,warn:f,error:f};}</script>
    <!-- <script src="/libs/granite/core/content/login.config.js"></script>-->
    <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
    <link rel="stylesheet" href="/css/audiences/mac-all.lc-1428559268430-lc.min.css" type="text/css">
    <script type="text/javascript" src="/js/audiences/mac-all.lc-1428559268430-lc.min.js"></script>

</head>
<body class="endor-Panel">
<div class="page" role="main">

    <div class="endor-Panel-header endor-BreadcrumbBar is-closed" data-close-on-click="true" >
        <nav class="endor-Crumbs">
            <a class="endor-Crumbs-item" href="/"><i class="endor-Crumbs-brandicon icon-marketingcloud medium"></i> Adobe Marketing Cloud</a>
            <a class="endor-Crumbs-item endor-Crumbs-item--ellipsis" href="#" style=""></a>
        </nav>
    </div>

    <div class="js-endor-page endor-Panel-content endor-Panel-content--breadcrumbBarHeight endor-Page ">
        <div id="main-rail" class="rail left">
            <div class="wrap">
                <div class="js-endor-navrail endor-Page-sidepanel endor-Page-sidepanel--navigation color-dark" data-view="feature">
                    <a class="endor-Brand" data-init="brand" data-href="" href="/">
                        <i class="endor-Brand-icon icon-marketingcloud medium"></i> Adobe Marketing Cloud
                    </a>

                    <div  class='coral-ColumnView coral-ColumnView--navigation'>
                        <nav class='coral-ColumnView-column is-active' data-coral-columnview-id="root"><span class="group marketing-app-group coral-ColumnView-item">CORE SERVICES</span><a class="coral-ColumnView-item" href="/content/mac/adobe-fsi-demo.html/feed">Feed</a><a class="coral-ColumnView-item" href="/content/mac/adobe-fsi-demo.html/boards">Boards</a><a class="coral-ColumnView-item" href="/content/mac/adobe-fsi-demo.html/assets">Assets</a><a class="coral-ColumnView-item" href="/content/mac/adobe-fsi-demo.html/solutions">Solutions</a><a class="coral-ColumnView-item" href="/content/mac/adobe-fsi-demo/dynamic-tag-management.html">Activation</a>

                            <a class='coral-ColumnView-item is-active' href='/content/mac/adobe-fsi-demo/audiences.html'>Audiences</a>

                            <a class='coral-ColumnView-item' href='/content/mac/adobe-fsi-demo/datasources.html'>Customer Attributes</a>


                            <span class="group marketing-app-group coral-ColumnView-item">MARKETING APPS</span><a class="launchSolution coral-ColumnView-item" data-solution-location="https&#x3a;&#x2f;&#x2f;sc.omniture.com&#x2f;p&#x2f;suite&#x2f;1.3&#x2f;index.html&#x3f;a&#x3d;Landing.Main&amp;IMS&#x3d;1" data-solution="ANALYTICS" data-company-name="Adobe&#x20;FSI&#x20;Demo" data-product-name="Analytics" data-product-id="SITE_CATALYST" data-ims-org-id="823A76DA521D0B720A490D4D&#x40;AdobeOrg" data-always-show="false" href="#">Analytics
                            </a><a class="launchSolution coral-ColumnView-item" data-solution-location="https&#x3a;&#x2f;&#x2f;mobilemarketing.adobe.com" data-solution="ANALYTICS" data-product-name="Analytics" data-product-id="SITE_CATALYST" data-ims-org-id="823A76DA521D0B720A490D4D&#x40;AdobeOrg" data-always-show="false" href="#">Mobile Services</a><a class="launchSolution coral-ColumnView-item" data-solution-location="&#x2f;target" data-solution="TARGET" data-company-name="" data-product-name="Target&#x20;-&#x20;Classic&#x20;Workflow" data-product-id="TEST_AND_TARGET" data-ims-org-id="823A76DA521D0B720A490D4D&#x40;AdobeOrg" data-always-show="false" href="#">Target
                            </a><a class="launchSolution coral-ColumnView-item" data-solution-location="https&#x3a;&#x2f;&#x2f;social.omniture.com&#x2f;&#x3f;ims&#x3d;1" data-solution="SOCIAL" data-company-name="Adobe&#x20;FSI&#x20;Demo" data-product-name="Social" data-product-id="SITE_CATALYST" data-ims-org-id="823A76DA521D0B720A490D4D&#x40;AdobeOrg" data-always-show="false" href="#">Social
                            </a><a class="launchSolution coral-ColumnView-item" data-solution-location="&#x2f;mediaoptimizer" data-solution="MEDIA_OPTIMIZER" data-company-name="" data-product-name="AudienceManager" data-product-id="AUDIENCE_MANAGER" data-ims-org-id="823A76DA521D0B720A490D4D&#x40;AdobeOrg" data-always-show="false" href="#">Media Optimizer
                            </a>  </nav>
                    </div>



                </div>



            </div>
        </div>

        <div id="linkAccountModal" class="modal linkAccountModal">
            <div class="modal-header hidden hidden">
                <h2>Link Account</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body questionLink hidden">
            </div>
            <div class="modal-footer questionLink hidden">
                <button class="noButton">No</button>&nbsp;&nbsp;&nbsp;
                <button class="yesButton primary">Yes</button>
            </div>
            <div class="waitAddContainer">
                <div class="wait large"></div>
            </div>
        </div>

        <div class="content foundation-content">
            <div class="foundation-content-current">



                <nav class="endor-Panel-header endor-BlackBar">
                    <button class="js-endor-navrail-toggle endor-BlackBar-nav  is-active" title="Toggle Rail"><i class="icon-navigation"></i></button>
                    <button class="endor-BlackBar-back foundation-history-control" title="Back" data-foundation-history-control-action="back"><i class="icon-chevronleft"></i></button>

                    <div class="endor-BlackBar-right popovers">

                        <a class="help-link endor-BlackBar-item endor-BlackBar-item--text coral-u-hiddenXS withLabel" href="#help_popover" data-toggle="popover">Help</a>
                        <a class="endor-BlackBar-item endor-Badge is-empty foundation-setter notifications-link" href="#" data-href="#notifications_popover">...</a>
                        <a class="endor-BlackBar-item endor-UserProfile user user-link" href="#user_popover">

                            <div class="endor-UserProfile-tenant"><%= name %></div>

                            <div class="endor-UserProfile-avatar" id="user-profile-avatar"><img src="<%= avatar%>" alt="avatar"></div>
                        </a>
                    </div>


                    <div class="endor-BlackBar-title" role="heading" aria-level="1">Audiences</div>

                </nav>


                <script type="text/javascript">
                    var AL = AL || {};
                    //TODO:(@sacjain) Read these values/configs from node when exist or extract them using machelper api later on
                    AL._MAX_NUMBER_OF_RULES = 5;
                    AL._RULES_COLOR_ARRAY = ['#8cc350','#5a6eaa','#d755a5','#1ebed7','#f0a01e','#9b8ce6','#3cb5a0','#3287d2','#f0557d','#c3d250','#eb782d','#78b4f5','#5faf69','#aa5fa5','#fa5a50','#f5c841'];
                    AL._tenant = "adobe-fsi-demo";
                    AL._tenantHome = "/content/mac/adobe-fsi-demo";
                </script>
                <link rel="stylesheet" href="css/audiences/clientlibs.lc-1428559268430-lc.min.css" type="text/css">
                <script type="text/javascript" src="/js/audiences/clientlibs.lc-1428559268430-lc.min.js"></script>
                <div  class='audience-list-widget' mode='multiple' data-targetorigin="*" data-searchpath="/libs/mac/contents/audiencelibrary/audiences/jcr:content.search.html">
                    <div class="audienceData">
                        <div class="actionBar" id="actionBar">
                            <div class="left segment-search-placeholder">
                                <div class="search">
                                    <input type="text" class="searchField" placeholder="Search All">
                                    <button type="submit">
                                        <a id="search-popover-point" href="#search-popover" data-toggle="popover" data-point-from="bottom" data-align-from="right"></a>
                                    </button>
                                    <button type="reset" title="Clear&#x20;search&#x20;field" class="clearSearch hidden"></button>
                                </div>
                            </div>

                            <div class="middle segment-actions-container">

                                <div class="actionBox action-new">
                                    <a href="/audiences.html/create.html/adobe-fsi-demo/audiences/folder">
                                        <i class="icon-add-circle small"></i>
                                        <span>New</span>
                                    </a>
                                </div>
                                <div class="actionBox action-copy">

                                    <i class="icon-copy small"></i>
                                    <span>Copy</span>

                                </div>
                                <div class="actionBox action-delete">
                                    <a href="#" class="icon-delete small"></a>
                                    <span>Delete</span>
                                </div>
                                <div class="actionBox action-update-activate">
                                    <a href="#" class="icon-check-circle small"></a>
                                    <span>Activate</span>
                                </div>
                                <div class="actionBox action-update-deactivate">
                                    <a href="#" class="icon-close-circle small"></a>
                                    <span>Deactivate</span>
                                </div>
                            </div>

                            <div class="right segment-filters-placeholder">
                                <div class="filterBox settings">
                                    <a class="icon-gear small" href="#columns-filter-popover" data-toggle="popover" data-point-from="bottom" data-align-from="right"></a>
                                    <div id="columns-filter-popover" class="popover segmentList-popover">
                                        <ul>
                                            <li class="column-name">
                                                <input type="checkbox" id="titleAndDesc-checkbox" data-target="name"  checked/>
                                                <label for="titleAndDesc-checkbox">Title &amp; Description</label>
                                            </li>
                                            <li class="column-name">
                                                <input type="checkbox" id="source-checkbox" data-target="source" checked/>
                                                <label for="source-checkbox">Source</label>
                                            </li>
                                            <li class="column-name">
                                                <input type="checkbox" id="size-checkbox" data-target="size" checked/>
                                                <label for="size-checkbox">Current Size</label>
                                            </li>
                                            <li class="column-name">
                                                <input type="checkbox" id="active-checkbox" data-target="active" checked/>
                                                <label for="active-checkbox">Active</label>
                                            </li>
                                            <li class="column-name">
                                                <input type="checkbox" id="modifiedDate-checkbox" data-target="modifiedDate" checked/>
                                                <label for="modifiedDate-checkbox">Date Modified</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="right segment-sortorder al-cursor-pointer">
                                <i class="icon-arrowdown icon withLabel selected">Newest to Oldest</i>
                                <i class="icon-arrowup icon withLabel al-hidden">Oldest to Newest</i>
                            </div>
                            <div class="right badge segment-count">0</div>
                        </div>

                        <ul class="list">
                            <li class="header">
                                <div class="row fixed segmentListHeader">
                                    <div class="cell middle checkbox">
                                        <input type="checkbox" id="select-all-checkbox" />
                                        <span></span>
                                    </div>
                                    <div class="cell middle name">
                                        <span>Title &amp; Description</span>
                                    </div>
                                    <div class="cell middle source">Source</div>
                                    <div class="cell middle size">Current Size</div>
                                    <div class="cell middle active">Active</div>
                                    <div class="cell middle modifiedDate">Date Modified</div>
                                </div>
                            </li>
                        </ul>

                        <ul class="list segmentList" ></ul>

                        <div class="al-hidden center load-segments">
                            <div class="load-more">
                                <a class="icon-more small active withLabel">Load more</a>
                            </div>
                        </div>

                        <div id="search-popover" class="popover segmentList-popover">
                            <ul class="popover-listitems">
                                <li class="search-by search-by-all" data-searchkey="" data-key="all">All</li>
                                <li class="search-by search-by-title" data-searchkey="Title: " data-key="jcr:title">Title</li>
                                <li class="search-by search-by-source"  data-searchkey="Source: " data-key="source">Source</li>
                            </ul>
                        </div>

                        <div id="confirm-delete-modal"></div>
                        <div id="warn-copy-modal"></div>

                        <div class="waitContainer al-hidden">
                            <div class="wait center large"></div>
                        </div>

                        <div id="error-segmentList-modal" class="alert error">
                            <button class="close" data-dismiss="alert">×</button>
                            <strong>ERROR</strong>
                            <div class="message"></div>
                        </div>
                    </div>
                </div>




                <div>
                    <footer class="endor-Panel-footer endor-Footer endor-Footer--sticky footer-solution">
                        <span class="endor-Footer-copyright">© 2015 Adobe Systems Incorporated. All Rights Reserved.</span>
                        <div class="endor-Footer-links">
                            <a class="endor-Footer-item" href="https://helpx.adobe.com/marketing-cloud.html" target="_blank">Help</a>
                            <a class="endor-Footer-item" href="https://marketing.adobe.com/resources/help/en_US/terms.html" target="_blank">Terms of Use</a>
                            <a class="endor-Footer-item" href="http://www.adobe.com/go/marketingcloud_privacy" target="_blank">Privacy Policy</a>
                            <div class="endor-Footer-item">
                                <label>Language:</label>
                                <a class="coral-Link endor-currentLanguage" href="/content/mac/adobe-fsi-demo/home/users/0945/1pftwkaorfyp-ve-vv6pzkm98nd5w8zbippmugurlnu/profile.html" data-target="#language-selector-popover" data-toggle="popover" data-point-from="bottom" data-align-from="right">English</a>
                            </div>
                        </div>
                    </footer>

                </div>

            </div>
        </div>
    </div>
</div>

<nav class="pulldown" style="position:absolute;top:0;left:0;">
    <div id="mac-pinToBoard" class="popover arrow-top">
        <h4>Pin Card To Board <a class="icon-add right" href="#" data-target="mac-create-board">Create Board</a></h4>
        <div class="dropdown-list"></div>
    </div>
</nav>

<div id="delete-card" class="modal">
    <div class="modal-header">
        <h2>Delete Card</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <p>Deleting this card will cause all pinned references to be deleted as well. Continue&#x3f;</p>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal">Cancel</button>
        <button type="button" class="primary warning" data-dismiss="modal">Delete</button>
    </div>
</div>

<div class="firsttimeexperience">









</div>


<div id="ajax_target"></div>
<div id="mac-dialog-mate"></div>
<div class="mc_dialogs">
    <div class="mc_dialog_mate"></div>
    <div class="mc_report_dialog"></div>
</div>
<div class="servicecomponents cloudservices">
</div>
</body>

</html>
