<div class="step">
    <div class="operatorlist coral-Select al-select" data-init="select">
        <button type="button" class="coral-Select-button coral-MinimalButton">
            <span class="coral-Select-button-text">operator</span>
        </button>
        <select class="coral-Select-select">
            <option>operator</option>
            <option data-name="equals"
                    >
                Equals
            </option>
            <option data-name="Less than"
                    >
                Less than
            </option>
            <option data-name="Greater than"
                    >
                Greater than
            </option>
            <option data-name="contains"
                    >
                Contains
            </option>
            <option data-name="Not Equals"
                    >
                Not Equals
            </option>
        </select>
    </div>
</div>

<div class="step">

    <div class="valuelist coral-Autocomplete al-autocomplete" data-init="autocomplete" data-triggerEvent="segmentValues:selected">
        <div class="coral-InputGroup coral-InputGroup--block js-coral-Autocomplete-field">
            <label class="coral-DecoratedTextfield coral-InputGroup-input">
                <span class="u-coral-screenReaderOnly">Search</span>
                <span class="coral-DecoratedTextfield-icon coral-Icon coral-Icon--sizeXS coral-Icon--search" aria-hidden="true"></span>
                <input class="coral-DecoratedTextfield-input coral-Textfield js-coral-Autocomplete-textfield evartext evarIEalignment" type="text"
                       name="name1" placeholder=Search value="" >
            </label>
                <span class="coral-InputGroup-button">
                    <button class="coral-Button coral-Button--secondary coral-Button--square js-coral-Autocomplete-toggleButton" type="button">
                        <i class="coral-Icon coral-Icon--sizeXS coral-Icon--triangleDown"></i>
                    </button>
                </span>
        </div>
        <ul class="coral-SelectList js-coral-Autocomplete-selectList">
            <li class="coral-SelectList-item coral-SelectList-item--option" data-value=""></li>

            <li class="coral-SelectList-item coral-SelectList-item--option" data-value="United States">United States</li>

            <li class="coral-SelectList-item coral-SelectList-item--option" data-value="Canada">Canada</li>

            <li class="coral-SelectList-item coral-SelectList-item--option" data-value="New Zealand">New Zealand</li>

            <li class="coral-SelectList-item coral-SelectList-item--option" data-value="Australia">Australia</li>

            <li class="coral-SelectList-item coral-SelectList-item--option" data-value="United Kingdom">United Kingdom</li>

            <li class="coral-SelectList-item coral-SelectList-item--option" data-value="South Africa">South Africa</li>

            <li class="coral-SelectList-item coral-SelectList-item--option" data-value="Netherlands">Netherlands</li>

            <li class="coral-SelectList-item coral-SelectList-item--option" data-value="Denmark">Denmark</li>

            <li class="coral-SelectList-item coral-SelectList-item--option" data-value="Sweden">Sweden</li>

            <li class="coral-SelectList-item coral-SelectList-item--option" data-value="Norway">Norway</li>

            <li class="coral-SelectList-item coral-SelectList-item--option" data-value="Belgium">Belgium</li>

            <li class="coral-SelectList-item coral-SelectList-item--option" data-value="Italy">Italy</li>

            <li class="coral-SelectList-item coral-SelectList-item--option" data-value="France">France</li>

            <li class="coral-SelectList-item coral-SelectList-item--option" data-value="Mexico">Mexico</li>

            <li class="coral-SelectList-item coral-SelectList-item--option" data-value="Brazil">Brazil</li>

            <li class="coral-SelectList-item coral-SelectList-item--option" data-value="Argentina">Argentina</li>
        </ul>
    </div>

</div>

