<div class="chooseEvent segmentPart">
    <div class="valueContainer">
        <div class="coral-Icon coral-Icon--apps coral-Icon--sizeS al-icon-apps"></div>
        <div class="step">
            <div class="eventList coral-Select al-select
                    "

                 data-init="select" data-triggerEvent="event:selected">
                <button type="button" class="coral-Select-button coral-MinimalButton"><span class="coral-Select-button-text">Select an event</span></button>
                <select class="coral-Select-select">

                    <option>Select an event</option>

                    <option data-name="Searches" data-id="event1" value="event1"
                            >
                        Searches
                    </option>

                    <option data-name="Null Searches" data-id="event2" value="event2"
                            >
                        Null Searches
                    </option>

                    <option data-name="Leads" data-id="event3" value="event3"
                            >
                        Leads
                    </option>

                    <option data-name="Self-Service Transactions" data-id="event4" value="event4"
                            >
                        Self-Service Transactions
                    </option>

                    <option data-name="Advisor Views" data-id="event5" value="event5"
                            >
                        Advisor Views
                    </option>

                    <option data-name="File Downloads" data-id="event6" value="event6"
                            >
                        File Downloads
                    </option>

                    <option data-name="Revenue Closed Offline" data-id="event7" value="event7"
                            >
                        Revenue Closed Offline
                    </option>

                    <option data-name="Accounts Opened Offline" data-id="event8" value="event8"
                            >
                        Accounts Opened Offline
                    </option>

                    <option data-name="Revenue Closed Online" data-id="event9" value="event9"
                            >
                        Revenue Closed Online
                    </option>

                    <option data-name="Accounts Opened Online" data-id="event10" value="event10"
                            >
                        Accounts Opened Online
                    </option>

                    <option data-name="Emails Sent" data-id="event11" value="event11"
                            >
                        Emails Sent
                    </option>

                    <option data-name="Emails Received" data-id="event12" value="event12"
                            >
                        Emails Received
                    </option>

                    <option data-name="Emails Opened" data-id="event13" value="event13"
                            >
                        Emails Opened
                    </option>

                    <option data-name="Emails Clicked" data-id="event14" value="event14"
                            >
                        Emails Clicked
                    </option>

                    <option data-name="Emails Bounced" data-id="event15" value="event15"
                            >
                        Emails Bounced
                    </option>

                    <option data-name="Total Unsubscribed" data-id="event16" value="event16"
                            >
                        Total Unsubscribed
                    </option>

                    <option data-name="Form Errors" data-id="event17" value="event17"
                            >
                        Form Errors
                    </option>

                    <option data-name="Total Revenue" data-id="revenue" value="revenue"
                            >
                        Total Revenue
                    </option>

                    <option data-name="Total Accounts Opened" data-id="orders" value="orders"
                            >
                        Total Accounts Opened
                    </option>

                    <option data-name="Sign Up | Completed" data-id="units" value="units"
                            >
                        Sign Up | Completed
                    </option>

                    <option data-name="Sign Up | Step 2" data-id="carts" value="carts"
                            >
                        Sign Up | Step 2
                    </option>

                    <option data-name="Sign Up | Cart View" data-id="cartviews" value="cartviews"
                            >
                        Sign Up | Cart View
                    </option>

                    <option data-name="Instances" data-id="instances" value="instances"
                            >
                        Instances
                    </option>

                    <option data-name="Sign Up | Step 3" data-id="checkouts" value="checkouts"
                            >
                        Sign Up | Step 3
                    </option>

                    <option data-name="Sign Up | Step 1" data-id="cartadditions" value="cartadditions"
                            >
                        Sign Up | Step 1
                    </option>

                    <option data-name="Sign Up | Step 4" data-id="cartremovals" value="cartremovals"
                            >
                        Sign Up | Step 4
                    </option>

                    <option data-name="Visits" data-id="visits" value="visits"
                            >
                        Visits
                    </option>

                    <option data-name="Page Views" data-id="pageviews" value="pageviews"
                            >
                        Page Views
                    </option>

                    <option data-name="Daily Unique Visitors" data-id="visitorsdaily" value="visitorsdaily"
                            >
                        Daily Unique Visitors
                    </option>

                    <option data-name="Unique Visitors" data-id="uniquevisitors" value="uniquevisitors"
                            >
                        Unique Visitors
                    </option>

                </select>
            </div>
        </div>

        <span class="u-coral-pullRight deleteRule-icon-container"><a class="coral-Icon coral-Icon--close coral-Icon--sizeXS al-close-icon"></a></span>
    </div>
    <div class="addrule-icon-container"><a class="coral-Icon coral-Icon--add coral-Icon--sizeS al-add-icon"></a></div>
</div>
