<div class="mac-segments">
    <div class="valueContainer">
        <div class="coral-Icon coral-Icon--apps coral-Icon--sizeS al-icon-apps"></div>

        <button class="coral-Button coral-Select-button coral-MinimalButton is-above al-select">
            <span class="coral-Select-button-text">Select audience</span>
        </button>

        <ul class="coral-SelectList al-select" data-init="selectlist"    data-autohide='true'  data-triggerEvent="macSegment:selected"
                ></ul>

        <span class="description"></span>
        <span class="u-coral-pullRight deleteRule-icon-container"><a class="coral-Icon coral-Icon--close coral-Icon--sizeXS al-close-icon"></a></span>
    </div>
    <div class="addrule-icon-container"><a class="coral-Icon coral-Icon--add coral-Icon--sizeS al-add-icon"></a></div>
</div>
<div class="nextStepsContainer"></div>
