<% segments.forEach(function(segment) { %>
    <li class="coral-SelectList-item coral-SelectList-item--option" data-value='1765749' data-name="<%= segment.name %>"
        data-size='0'
        data-sid='1765749'
        data-segmentRule="(1731676T OR 1326280T)"
        data-description="<%= segment.description %>"
        data-name="<%= segment.name %>">
        <%= segment.name %>
    </li>
<% }); %>