<div class="reportSuites step">
    <i class="coral-Icon coral-Icon--chevronRight al-rule-chevronRight"></i>
        <span class="coral-Select segmentPart al-select
               "

              data-triggerEvent="reportSuite:selected" data-init="select"
              data-templatePath = "/audiencelibrary/adobe-fsi-demo/audiences/folder.newaudience.attributeType.html"
                >
            <button type="button" class="coral-Select-button coral-MinimalButton">
                <span class="coral-Select-button-text">Select Report Suite</span>
            </button>
            <select class="coral-Select-select">

                <option>Select Report Suite</option>

                <option data-name="we.Finance - Development"
                        data-id="geo1metrixxfsiauthor"
                        data-templatePath="/audiencelibrary/adobe-fsi-demo/audiences/folder.newaudience.attributeType.html"
                        >
                    we.Finance - Development
                </option>

                <option data-name="we.Finance App - Development"
                        data-id="geo1metrixxfsiappauthor"
                        data-templatePath="/audiencelibrary/adobe-fsi-demo/audiences/folder.newaudience.attributeType.html"
                        >
                    we.Finance App - Development
                </option>

                <option data-name="we.Finance"
                        data-id="geo1metrixxfsiprod"
                        data-templatePath="/audiencelibrary/adobe-fsi-demo/audiences/folder.newaudience.attributeType.html"
                        >
                    we.Finance
                </option>

                <option data-name="weFinance App - Production"
                        data-id="geo1metrixxwefinance-prod"
                        data-templatePath="/audiencelibrary/adobe-fsi-demo/audiences/folder.newaudience.attributeType.html"
                        >
                    weFinance App - Production
                </option>

            </select>
        </span>
</div>
<div class="nextStepsContainer">

</div>
