*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

p, ul, ol, li {
  margin: 0;
  padding: 0; }

ol, ul {
  list-style: none outside none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
  table.data {
    table-layout: fixed; }
    table.data td, table.data th {
      overflow: hidden; }

/* For use with use with ADOBE.AM.LoadingOverlay */
/* For use with View pages right-most box */
#mainContent [class^="icon-"], #mainContent [class*=" icon-"] {
  height: 1.2em;
  width: auto; }
  #mainContent [class^="icon-"]:before, #mainContent [class*=" icon-"]:before {
    content: ''; }
#mainContent button[class^="icon-"], #mainContent button[class*=" icon-"] {
  height: 1.6rem;
  width: auto;
  color: #333;
  border-width: 1px;
  border-style: solid;
  background-image: url("/css/aam/images/StandardUp_button.png"); }
  #mainContent button[class^="icon-"]:hover, #mainContent button[class*=" icon-"]:hover {
    background-image: url("/css/aam/images/StandardHover_button.png"); }
#mainContent .num [class^="icon-"], #mainContent .num [class*=" icon-"] {
  width: auto;
  color: #000; }
#mainContent ul.toolbar {
  background: url("/css/aam/images/AUI_Button_Gradient.png") repeat-x;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 10px;
  border-color: #888;
  border-style: solid;
  border-width: 0 1px; }
  #mainContent ul.toolbar li {
    border-color: #9D9D9D;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: content-box;
    background-image: url("/css/aam/images/StandardUp_button.png");
    background-position: left top;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.3);
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-family: Helvetica,Arial;
    font-size: 12px;
    font-weight: normal !important;
    line-height: 2em;
    list-style-type: none;
    margin: 0;
    padding: 0 10px; }
    #mainContent ul.toolbar li [class^="icon-"], #mainContent ul.toolbar li [class*=" icon-"] {
      height: 14px;
      margin-right: 6px;
      margin-top: 4px;
      vertical-align: text-bottom;
      padding-left: 15px; }
    #mainContent ul.toolbar li:first-child {
      border-left: none;
      /* no border */
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-bottomleft: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -webkit-border-top-left-radius: 5px;
      -khtml-border-bottom-left-radius: 5px;
      -khtml-border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px; }
    #mainContent ul.toolbar li:last-child {
      padding: 0 10px;
      border-right: 1px solid rgba(0, 0, 0, 0.3); }
    #mainContent ul.toolbar li:hover {
      background: #dfdfdf;
      /* Old browsers */
      background: -moz-linear-gradient(top, #dfdfdf 0%, #d7d7d7 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dfdfdf), color-stop(100%, #d7d7d7));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #dfdfdf 0%, #d7d7d7 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #dfdfdf 0%, #d7d7d7 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #dfdfdf 0%, #d7d7d7 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #dfdfdf 0%, #d7d7d7 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#d7d7d7',GradientType=0 );
      /* IE6-9 */ }
    #mainContent ul.toolbar li:active {
      background: #b2b2b2; }
#mainContent:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

#DestinationList .icon-add, #ManageDestination .icon-add {
  color: #4B4B4B;
  width: auto; }

div.AUI_SearchField {
  position: relative;
  overflow: hidden;
  height: 1.5rem;
  padding: 0 26px 0 0;
  box-shadow: 0 1px 4px 0 #E0E0E0 inset;
  -moz-transition: all 0.15s ease-in-out 0s;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: #a5a5a5; }
  div.AUI_SearchField input[type='text'] {
    height: 100% !important;
    margin: 0;
    color: #333333;
    font-size: 0.8rem;
    border: none !important;
    width: 9rem !important;
    width: 8.6rem\9 !important;
    background: transparent;
    box-shadow: none;
    padding: 0.2rem 0 0 0.4rem !important; }
  div.AUI_SearchField div.AUI_SearchField_Close {
    background: url("/css/aam/images/ClearX_Standard.png") no-repeat scroll center center transparent;
    cursor: pointer;
    height: 9px;
    right: 29px;
    margin-left: -16px;
    opacity: 0.7;
    position: absolute;
    top: 9px;
    width: 16px;
    left: auto; }
  div.AUI_SearchField button.AUI_SearchField_Search {
    border-color: #a5a5a5;
    border-image: none;
    border-radius: 0 3px 3px 0;
    border-style: none none none solid;
    border-width: 0 0 0 1px;
    height: 100%;
    margin: 0;
    min-width: 0 !important;
    position: absolute;
    width: 24px !important;
    right: 0; }
    div.AUI_SearchField button.AUI_SearchField_Search div {
      background: url("/css/aam/images/16x16/Search_Standard.png") no-repeat scroll 0 0 transparent;
      height: 16px;
      width: 16px;
      position: absolute;
      left: 4px;
      top: 4px;
      margin: 0; }

.context-help {
  margin: 0 0 0 6px;
  cursor: pointer;
  background: url(/css/aam/images/help.png) center left no-repeat;
  float: left;
  width: 14px;
  height: 14px; }
  .context-help.hide {
    display: none; }

.panel {
  padding: 0;
  margin-bottom: 12px; }
  .panel h3 {
    margin: 8px 0 4px 10px; }

.dark-bg {
  background: #BFBFBF; }

.light-bg {
  background: #F4F4F4;
  border: 1px solid #D9D9D9; }

.page {
  top: 2.75rem !important;
  left: 0;
  overflow-x: hidden !important; }

.content-margin {
  margin: 15px; }

.background_page_loading {
  background: url(/portal/common/cui/1.6.1/images/components/wait/wait_32.gif) no-repeat 50% 5em; }

.AS-Pagination {
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  white-space: nowrap; }

.AS-Pagination-pageSize, .AS-Pagination-page {
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  vertical-align: middle; }

.AS-Pagination-pageSizeGroup {
  padding-right: 30px; }

.AS-Pagination-decreasePage {
  padding-right: 5px; }

.AS-Pagination-increasePage {
  padding-left: 5px; }

.AS-Pagination-decreasePage, .AS-Pagination-increasePage {
  opacity: .6;
  cursor: pointer; }

.AS-Pagination-decreasePage:hover, .AS-Pagination-increasePage:hover {
  opacity: 1; }

/* Reusable styles that should be in CUI */
/* Copy of tabs > section style */
section.gray {
  background-color: #E6E6E6;
  border: 0.0625rem solid rgba(0, 0, 0, 0.2);
  margin: 0;
  overflow: auto;
  padding: 0.85rem;
  position: relative;
  z-index: auto; }

#cloud-header #user-selector-dropdown.header-popover ul li a {
  height: auto; }

#cloud-header #help-dropdown.header-popover ul li a {
  height: auto; }

.clear {
  clear: both;
  line-height: 0;
  height: 0; }

.invisible {
  visibility: hidden; }

.left {
  float: left; }

.right {
  float: right; }

.hide {
  display: none; }

h3 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px; }

a {
  color: #457199;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.AUI_CollapsiblePanel_heading .context-help,
.header .context-help,
.AUI_Tabs_tab .context-help,
.panel_title .context-help {
  float: none;
  display: inline-block;
  position: relative; }

.AUI_CollapsiblePanel_heading .AUI_CollapsiblePanel_title {
  line-height: 16px;
  margin: 6px 0 0 0;
  display: inline-block; }

.AUI_Tabs_tab .context-help {
  top: 3px; }

.moreHelpLink {
  display: block;
  margin-top: 20px;
  border: none; }

div.ui-widget-overlay {
  /* position changed to fixed to ensure full coverage */
  position: fixed;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  background-color: #FFF;
  filter: alpha(opacity=50);
  opacity: .5; }

div.message {
  border: 1px solid #aaa;
  color: #333;
  background: #f1f1f1;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  margin: 9px;
  padding: 2px 6px;
  background-position: 7px 5px;
  background-repeat: no-repeat;
  line-height: 18px;
  font-size: 12px;
  *overflow: hidden; }

div.message.failure {
  border: 1px solid #f0bfbf;
  background-color: #f7dbdb; }

div.message.notice {
  border: 1px solid #fab56b;
  background-color: #fae5b2; }

.error {
  font-weight: bold;
  display: inline;
  padding-left: 20px;
  background: url(/css/aam/images/alert_red.png) center left no-repeat; }

.warning {
  font-weight: bold;
  display: inline;
  padding-left: 20px;
  background: url(/css/aam/images/alert_yellow.png) center left no-repeat; }

#header {
  position: absolute;
  width: 100%;
  z-index: 1002; }

#mainHeader {
  display: none;
  height: 29px;
  background: url(../../images/adobe_ui/header_bg.png) repeat-x; }

#mainHeader a {
  display: block;
  float: left;
  color: white;
  padding: 0px 16px;
  line-height: 28px; }

#subHeader {
  display: none;
  padding: 10px 10px 0; }

#userWelcome {
  float: right; }

#userWelcome a {
  font-size: 11px; }

#editMyProfileLink {
  font-weight: bold; }

#AnalyticsQuickView #mainContent {
  width: 1150px; }
  #AnalyticsQuickView #mainContent #uniqueUserTrend {
    margin: 0;
    width: 1070px; }

#AnalyticsQuickView .AUI_Panels_panel.hidden {
  display: none; }

.nav_flyout {
  position: absolute;
  z-index: 9990;
  left: -9999px;
  top: -1px;
  line-height: normal;
  border: 1px solid #c3c3c3; }

.layout-2-col {
  clear: both; }

.layout-2-col .col1 {
  float: left;
  position: relative;
  width: 250px; }

.layout-2-col .col2 {
  margin-left: 260px; }

.layout-2-col .col1 {
  width: 211px; }
.layout-2-col .col2 {
  margin-left: 222px; }
.layout-2-col .dataTables_processing p {
  margin: 0; }

#mainContent .widget.last {
  margin-right: 0px; }

#mainContent .widget h3 {
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 10px; }

#mainContent .dashboard {
  background: #BFBFBF;
  padding: 10px;
  margin-bottom: 10px;
  clear: both; }

#mainContent .dashboard .widget {
  background: #FFF;
  padding: 10px;
  float: left; }

#mainContent .dashboard.no-border {
  background: none;
  padding: 0px;
  overflow: hidden; }

#mainContent .dashboard.no-border .widget {
  background: #F4F4F4;
  border: #D9D9D9 1px solid;
  float: left;
  height: 350px; }

#mainContent .dashboard.no-border .content {
  background: #FFF;
  border: #D9D9D9 1px solid;
  padding: 10px;
  overflow: auto;
  margin: 0 10px 10px; }

#mainContent .container,
.layout .container {
  margin-bottom: 10px;
  border: 1px solid #D9D9D9;
  background: #F4F4F4;
  padding: 10px;
  position: relative; }

#mainContent .container .header,
.layout .container .header {
  font-size: 14px;
  margin-bottom: 10px; }

#mainContent .container .AUI_Alert {
  z-index: 9999999;
  position: absolute;
  top: 20px;
  left: 374px; }

.icon-copy {
  padding-left: 15px;
  background: url(/css/aam/images/copy.png) center left no-repeat;
  cursor: pointer; }

.icon-delete {
  padding-left: 15px;
  background: url(/css/aam/images/delete.png) center left no-repeat;
  cursor: pointer; }

.icon-edit {
  padding-left: 15px;
  background: url(/css/aam/images/edit.png) center left no-repeat;
  cursor: pointer; }

.icon-download {
  padding-left: 15px;
  background: url(/css/aam/images/download.png) center left no-repeat;
  cursor: pointer; }

.icon-email {
  padding-left: 15px;
  background: url(/css/aam/images/email_standard.png) center left no-repeat;
  cursor: pointer; }

.dtResults {
  width: 100%;
  background: #FFF; }

.dtResults td {
  border: 1px solid #E0E0E0;
  padding: 6px; }

.dtResults th {
  border: 1px solid #C2C2C2;
  background: #E6E6E6;
  padding: 6px; }

.dtResults th.sorting,
.dtResults th.sorting_asc,
.dtResults th.sorting_desc {
  cursor: pointer; }

.dtResults th.sorting_asc {
  padding-right: 10px;
  background: #d1d1d1 url(/css/aam/images/sort_up.png) 95% 50% no-repeat; }

.dtResults th.sorting_desc {
  padding-right: 10px;
  background: #d1d1d1 url(/css/aam/images/sort_down.png) 95% 50% no-repeat; }

.dtResults th.sorting:hover {
  background: #dddddd url(/css/aam/images/sort_down.png) 95% 50% no-repeat; }

.dtResults tr:hover {
  background: #EFEFEF; }

.dtResults tr .actionList {
  visibility: hidden;
  margin-left: 0; }

.dtResults tr:hover .actionList {
  visibility: visible; }

.dtResults .actionList li {
  display: inline;
  margin-right: 2px; }

.dtResults .hidden {
  display: none; }

.dataTables_paginate span {
  margin: 5px 5px 5px 0px; }

.dataTables_paginate .paginate_button {
  color: #457199;
  cursor: pointer; }

.dataTables_paginate .paginate_button:hover {
  text-decoration: underline; }

.dataTables_scrollBody {
  border-bottom: 1px solid #E0E0E0; }

.hierarchyList {
  border: 1px solid #C0C0C0;
  background: #FFF;
  overflow: auto; }

.listView .hierarchyList {
  height: 300px; }

.manageView .hierarchyList {
  width: 270px;
  height: 240px;
  margin-right: 20px; }

.listView #results {
  min-height: 420px; }

.jstree-default .jstree-clicked.selectedNode {
  background: #D9D9D9;
  border: 1px dotted #000; }

div.jstree li > a {
  padding-right: 10px; }

div.jstree .btnIcon {
  padding-left: 10px;
  visibility: hidden;
  margin-right: 5px;
  *display: inline-block; }

div.jstree .add {
  margin-left: 10px; }

div.jstree .add {
  background: url(/css/aam/images/add2.png) center center no-repeat; }

div.jstree .edit {
  background: url(/css/aam/images/edit.png) center center no-repeat; }

div.jstree .delete {
  background: url(/css/aam/images/delete.png) center center no-repeat; }

div.jstree li .jstree-hovered span {
  visibility: visible; }

.dialog {
  background: #FFF;
  padding: 10px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px; }

.dialog .buttons {
  margin-top: 30px; }

.dialog ul.formFields li {
  margin: 15px 0px; }

.ui-dialog-titlebar {
  background: #F4F4F4;
  border-bottom: 1px solid #D9D9D9;
  padding: 10px;
  border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px; }

.ui-dialog {
  font-size: 14px;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px; }

.ui-dialog-titlebar-close {
  float: right;
  background: url("/css/aam/images/close.png") no-repeat center right;
  padding: 10px; }

.ui-dialog-titlebar-close span {
  display: none; }

.ui-dialog.fixed-pos {
  position: fixed !important;
  top: 150px !important; }

/* Accordion */
#mainContent .accordion .container {
  margin-bottom: 10px;
  color: #333333;
  background: url("../../images/adobe_ui/container_gradient.png") top repeat-x #e0e0e0;
  border: 1px solid #B3B3B3;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  padding: 6px 10px 10px 10px;
  clear: both; }

#mainContent .accordion .container.closed {
  padding: 6px 10px; }

#mainContent .accordion .container .header {
  cursor: pointer;
  margin: 0px; }

#mainContent .accordion .container.open .header {
  background: url("/css/aam/images/accordion_up.png") center left no-repeat;
  margin-bottom: 4px;
  padding-left: 20px; }

#mainContent .accordion .container.closed .header {
  background: url("/css/aam/images/accordion_down.png") center left no-repeat;
  padding-left: 20px; }

#mainContent .accordion .container .header.disabled {
  color: #999; }

/* Auto-Complete */
.ui-autocomplete.ui-menu {
  border: 1px solid #CCC;
  background: #FFF;
  width: 200px; }

.ui-autocomplete.ui-menu li {
  cursor: pointer;
  padding: 3px; }

input.error {
  border: 1px solid #F00; }

.icon-add {
  background: url("/css/aam/images/add.png") no-repeat center left;
  padding-left: 19px;
  display: inline-block; }

.listDelete, .accordion td ul .listDelete {
  padding: 8px !important;
  border-width: 0;
  background: url(/css/aam/images/delete.png) center center no-repeat;
  cursor: pointer; }

.listClone, .accordion td ul .listClone {
  padding: 8px !important;
  border-width: 0;
  background: url(/css/aam/images/Clone_Standard.png) center center no-repeat;
  cursor: pointer; }

.listEdit, .accordion td ul .listEdit {
  padding: 8px !important;
  border-width: 0;
  background: url(/css/aam/images/edit.png) center center no-repeat;
  cursor: pointer; }

.trait_sidebar .trait_storage.folder_tree {
  margin-top: 0; }
.trait_sidebar h4 {
  margin: 14px 0 3px; }

.simpleHeaderTable thead th {
  font-weight: bold;
  padding: 4px 4px 0px 4px; }

.simpleHeaderTable td {
  padding: 4px; }

.container > .content.basic {
  border: 1px solid #B4B4B4;
  background: #FFF;
  padding: 10px; }

#viewMode .dashboard .info table {
  padding: 0px 5px;
  width: 100%; }

#viewMode .dashboard .info td {
  padding-right: 10px;
  padding-bottom: 9px; }

#viewMode .dashboard .info td.label {
  font-weight: bold;
  vertical-align: top; }

.noDataMsg {
  text-align: center;
  padding-top: 100px; }

#rulesTable tfoot td {
  padding: 20px 10px 0px 3px; }

#rulesTable tr.addRule td {
  padding: 0px 10px 15px 0px; }

#rulesTable .clearRuleBtn {
  margin-right: 4px;
  float: left; }
#rulesTable .addRuleBtn {
  float: left; }
#rulesTable .context-help {
  position: relative;
  top: 4px;
  left: 4px; }

.groupTable tbody tr.signalRule {
  height: 30px; }

.groupTable tbody tr.signalRule td {
  padding: 3px 10px; }

.groupTable tbody tr td.first {
  background: url(../../images/rulebg_left.png) top left repeat-y #e3f3ff;
  padding-left: 20px; }

.groupTable tbody tr td.last {
  background: url(../../images/rulebg_right.png) top right repeat-y #e3f3ff; }

.groupTable tbody tr td {
  background-color: #E3F3FF; }

#rulesTable tbody tr.signalRule:hover td {
  background: url(../../images/rulebg_mid_hover.png) center repeat-x #e3f3ff; }

#rulesTable tbody tr.signalRule:hover td.first {
  background: url(../../images/rulebg_hover.png) center left no-repeat #e3f3ff;
  cursor: pointer; }

#rulesTable tbody tr.signalRule:hover td.last {
  background: url(../../images/rulebg_hover.png) center right no-repeat #e3f3ff; }

#rulesTable tbody td .ruleActions {
  visibility: hidden;
  width: 40px; }

#rulesTable tbody tr:hover td .ruleActions {
  visibility: visible;
  margin-right: 10px; }

#rulesTable tbody td .ruleActions li {
  display: inline;
  margin: 6px 3px;
  padding: 6px;
  cursor: pointer; }

#rulesTable tbody .editRuleBtn {
  background: url(/css/aam/images/edit.png) center center no-repeat; }

#rulesTable tbody .deleteRuleBtn {
  background: url(/css/aam/images/delete.png) center center no-repeat; }

#mainContent .groupTable tbody tr.ruleNotice td {
  background: #FFF;
  border: 1px solid #B4B4B4; }

#mainContent .groupTable tbody tr.ruleNotice:hover td {
  background: #FFF; }

#mainContent #exprTable tbody tr.ruleNotice .moreTxt {
  display: none; }

#rulesTable tr td button#applyRuleBtn,
#rulesTable tr td button#cancelRuleBtn {
  visibility: visible; }

#rulesTable .ruleBorder {
  display: none; }

#rulesTable tr.ruleOp td, #exprTable tr.ruleOp td {
  text-align: center;
  padding: 1px; }

#rulesTable tr.ruleOp.off select {
  display: none; }

#rulesTable tr.ruleOp:hover select, #rulesTable tr.ruleOp.on select {
  display: inline; }

#rulesTable tr.ruleOp:hover td, #rulesTable tr.ruleOp.on td {
  background: url(../../images/ruleop_mid.png) repeat-x white; }

#rulesTable tr.ruleOp:hover td.first, #rulesTable tr.ruleOp.on td.first {
  background: url(../../images/ruleop.png) left no-repeat white;
  padding-top: 62px; }

#rulesTable tr.ruleOp:hover td.last, #rulesTable tr.ruleOp.on td.last {
  background: url(../../images/ruleop.png) right no-repeat white; }

#exprTable {
  width: 100%; }

#exprTable tr.ruleOp td {
  background: url(../../images/ruleop_mid2.png) top repeat-x white; }

#exprTable tr.ruleOp td.first {
  background: url(../../images/ruleop2.png) top left no-repeat white;
  padding-top: 43px; }

#exprTable tr.ruleOp td.last {
  background: url(../../images/ruleop2.png) top right no-repeat white; }

#exprTable tr.ruleOp td div {
  background: #FFF;
  padding-top: 3px;
  display: inline; }

.groupTable .groupTop td {
  background: url(../../images/ruletop_mid.png) top left repeat-x;
  padding-top: 4px; }

.groupTable .groupTop td.first {
  background: url(../../images/ruletop.png) top left no-repeat white; }

.groupTable .groupTop td.last {
  background: url(../../images/ruletop.png) top right no-repeat white; }

#exprTable .groupTop td.first {
  background-image: url(../../images/ruletop2.png); }

#exprTable .groupTop td.last {
  background-image: url(../../images/ruletop2.png); }

.groupTable .groupBtm td {
  background: url(../../images/rulebtm_mid.png) bottom left repeat-x;
  padding-top: 4px; }

.groupTable .groupBtm td.first {
  background: url(../../images/rulebtm.png) bottom left no-repeat; }

.groupTable .groupBtm td.last {
  background: url(../../images/rulebtm.png) bottom right no-repeat; }

#exprTable .groupBtm td.first {
  background-image: url(../../images/rulebtm2.png); }

#exprTable .groupBtm td.last {
  background-image: url(../../images/rulebtm2.png); }

.dialog .hierarchyList {
  width: 187px; }

#browseSegmentsDialog {
  font-size: 12px; }

#removeMappings {
  margin-bottom: 5px; }

/**  jQuery UI Date Picker Styles  **/
.ui-datepicker {
  position: absolute; }

.ui-datepicker.ui-helper-hidden {
  display: none; }

.ui-datepicker.ui-helper-hidden-accessible {
  left: -99999999px; }

.ui-datepicker.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none; }

.ui-datepicker.ui-helper-clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.ui-datepicker.ui-helper-clearfix {
  display: inline-block; }

/* required comment for clearfix to work in Opera \*/
* html .ui-datepicker.ui-helper-clearfix {
  height: 1%; }

.ui-datepicker.ui-helper-clearfix {
  display: block; }

/* end clearfix */
.ui-datepicker.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0); }

.ui-datepicker .ui-state-disabled {
  cursor: default !important; }

.ui-datepicker .ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
  float: right; }

.ui-datepicker .ui-icon {
  width: 16px;
  height: 16px;
  background-image: url(images/ui-icons_222222_256x240.png); }

.ui-datepicker .ui-widget-content .ui-icon {
  background-image: url(images/ui-icons_222222_256x240.png); }

.ui-datepicker .ui-widget-header .ui-icon {
  background-image: url(images/ui-icons_222222_256x240.png); }

.ui-datepicker .ui-state-default .ui-icon {
  background-image: url(images/ui-icons_FFFFFF_256x240.png); }

.ui-datepicker .ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
  background-image: url(images/ui-icons_FFFFFF_256x240.png); }

.ui-datepicker .ui-state-active .ui-icon {
  background-image: url(images/ui-icons_454545_256x240.png); }

.ui-datepicker .ui-state-highlight .ui-icon {
  background-image: url(images/ui-icons_2e83ff_256x240.png); }

.ui-datepicker .ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
  background-image: url(images/ui-icons_cd0a0a_256x240.png); }

.ui-datepicker .ui-icon-circle-triangle-e {
  background-position: -48px -192px; }

.ui-datepicker .ui-icon-circle-triangle-w {
  background-position: -80px -192px; }

.ui-datepicker .ui-state-disabled, .ui-widget-content .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none; }

.ui-datepicker.ui-widget {
  font-size: .9em; }

.ui-datepicker .ui-widget-header {
  border: 1px solid #aaaaaa;
  background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
  color: #222222;
  font-weight: bold; }

.ui-datepicker .ui-widget-header a {
  color: #222222; }

.ui-datepicker.ui-widget-content {
  border: 1px solid #aaaaaa;
  background: white url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
  color: #222222; }

.ui-datepicker.ui-widget-content a {
  color: #222222; }

.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0; }

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0; }

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em; }

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
  top: 1px; }

.ui-datepicker .ui-datepicker-prev {
  left: 2px; }

.ui-datepicker .ui-datepicker-next {
  right: 2px; }

.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px; }

.ui-datepicker .ui-datepicker-next-hover {
  right: 1px; }

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px; }

.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center; }

.ui-datepicker .ui-datepicker-title select {
  float: left;
  font-size: 1em;
  margin: 1px 0; }

.ui-datepicker select.ui-datepicker-month-year {
  width: 100%; }

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%; }

.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {
  float: right; }

.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em; }

.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0; }

.ui-datepicker td {
  border: 0;
  padding: 1px; }

.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none; }

.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0; }

.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible; }

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
  width: auto; }

.ui-datepicker-multi .ui-datepicker-group {
  float: left; }

.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em; }

.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%; }

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%; }

.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%; }

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
  border-left-width: 0; }

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0; }

.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left; }

.ui-datepicker-row-break {
  clear: both;
  width: 100%; }

/* RTL support */
.ui-datepicker-rtl {
  direction: rtl; }

.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto; }

.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto; }

.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto; }

.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto; }

.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: right; }

.ui-datepicker-rtl .ui-datepicker-group {
  float: right; }

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px; }

.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
  display: none;
  /*sorry for IE5*/
  display/**/: block;
  /*sorry for IE5*/
  position: absolute;
  /*must have*/
  z-index: -1;
  /*must have*/
  filter: mask();
  /*must have*/
  top: -4px;
  /*must have*/
  left: -4px;
  /*must have*/
  width: 200px;
  /*must have*/
  height: 200px;
  /*must have*/ }

.ui-datepicker-trigger {
  padding-left: 5px; }

/************************************/
.legendBox {
  display: inline;
  height: 4px;
  margin: 10px 1px;
  padding: 0px 5px;
  width: 12px; }

.header_graph {
  font-size: 14px;
  font-weight: normal; }

#export {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #c2c2c2; }
  #AnalyticsQuickView #export {
    width: 1070px; }
  #export .icon-csv-export span {
    padding: 0 8px;
    background: url(/portal/images/adobe_ui/icons/FileCSV_Standard.png) no-repeat; }

/* End Trend / General Reports */
.aui_loading {
  float: right;
  margin-right: 50%;
  position: relative;
  z-index: 9; }

/* GLOBAL STYLES */
.label {
  font-weight: bold; }

/* Checkboxes */
.checkboxes label {
  display: block;
  white-space: nowrap; }

.checkboxes input {
  vertical-align: middle; }

.checkboxes label span {
  vertical-align: middle;
  padding: 2px 0 0 4px; }

/* TODO: fix so we dont target IDs in classes */
.twoColLayout #leftSidebar {
  float: left;
  width: 230px; }

/* TODO: fix so we dont target IDs in classes */
.twoColLayout #mainCol {
  margin-left: 240px; }

.align-right {
  text-align: right; }

.border-bottom {
  margin-bottom: 10px; }

/* END GLOBAL STYLES */
/* ADOBEUI Style */
/* Needed to emulate Aui-Common's ".hidden" class */
.aui_loading .hidden {
  visibility: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px; }

.disabled .AUI_CollapsiblePanel_heading {
  color: gray; }

/* Date Picker Override - jQuery date picker widget was displaying that div at the bottom of the page */
#ui-datepicker-div {
  display: none; }

/* Segment Builder */
.mover {
  cursor: move; }

.noshow {
  display: none; }

.gray_text {
  color: #999; }

.display_none {
  display: none; }

.ui-sortable-helper {
  z-index: 10000; }

.panels {
  background-color: #F4F4F4;
  padding: 10px;
  border: 1px solid #D9D9D9; }

#pagination {
  margin-top: 10px; }

#pagination a:hover {
  text-decoration: none; }

#pagination .breadcrumb {
  text-align: right; }

#pagination .cell button {
  color: #8B8B8B; }

.pagination {
  text-align: right;
  margin-top: 10px; }

.pagination a:hover {
  text-decoration: none; }

.pagination .breadcrumb {
  text-align: right; }

.pagination .cell button {
  color: #8B8B8B; }

/* Checkbox states */
th.column_checkbox.disabled img.result_checkbox_enabled {
  display: none; }

th.column_checkbox.disabled img.result_checkbox_disabled {
  display: block; }

th.column_checkbox.enabled img.result_checkbox_enabled {
  display: block; }

th.column_checkbox.enabled img.result_checkbox_disabled {
  display: none; }

.clicked > img {
  z-index: 100;
  cursor: pointer; }

/* Accordion */
#seDestinations div.AUI_CollapsiblePanel {
  position: relative; }

#seTraits .AUI_content_white .panel_content {
  border-top: 1px solid #D0D0D0; }

#seTraits .AUI_content_white .panel_content div {
  padding: 4px 0;
  float: left;
  min-width: 200px;
  font-weight: bold;
  line-height: 23px; }

.panel_title {
  margin-bottom: 9px;
  font-weight: bold; }

.panel_title .context-help {
  top: 1px; }

.panel_content {
  padding: 4px 0; }

.st_dragarea {
  float: left;
  width: 630px; }

#sebiBox {
  width: 500px; }

/* Basic Info */
.basicInfo {
  width: 40%; }

.basicInfo td.label {
  width: 150px; }

.autocomplete_loading {
  visibility: hidden;
  margin-left: -23px;
  padding-right: 10px;
  vertical-align: middle; }

.trait_modal td {
  padding-bottom: 5px; }

.trait_modal tr.last-child td {
  padding-top: 30px; }

.trait_modal p.label {
  width: 140px; }

.trait_modal h4 {
  margin-left: 0px; }

.trait_modal {
  margin-left: 9px; }

.trait_modal table {
  width: 100%;
  text-align: left; }

.trait_modal table td:first-child {
  width: 140px; }

/* End Segment Builder */
.ui-autocomplete.ui-menu {
  background-color: #F5F5F5; }

.ui-menu-item a {
  color: black;
  display: block; }

.ui-menu-item:hover {
  background-color: #BBCADA; }

.ui-menu-item:hover a {
  text-decoration: none; }

th.column_checkbox img {
  margin: 4px; }

#browse_destinations_modal .layout-2-col .col2,
#browse_segments_modal .layout-2-col .col2,
#browse_traits_modal .layout-2-col .col2 {
  margin-left: 282px; }

#browse_destinations_modal,
#browse_segments_modal,
#browse_traits_modal {
  width: 1026px; }

#browse_segments_modal .layout-2-col .col1,
#browse_traits_modal .layout-2-col .col1 {
  width: 190px;
  height: 370px; }

#browse_destinations_modal .layout-2-col .col1 {
  height: 66px;
  width: 190px; }

#browse_destinations_modal .layout-2-col .col2,
#browse_segments_modal .layout-2-col .col2,
#browse_traits_modal .layout-2-col .col2 {
  margin-left: 224px; }

#browse_segments_modal .layout-2-col h4,
#browse_destinations_modal .layout-2-col h4,
#browse_traits_modal .layout-2-col h4 {
  margin: 0 0 16px; }

#browse_destinations_modal div.AUI_Notification.AUI_Notification_Blue,
#browse_segments_modal div.AUI_Notification.AUI_Notification_Blue,
#browse_traits_modal div.AUI_Notification.AUI_Notification_Blue {
  left: 461px;
  position: absolute;
  top: 24px; }

#browse_destinations_modal .browse_destinations_table th:first-child {
  width: 13px; }

/** Reusable Folder Tree */
.layout-2-col .folder_tree {
  border: 1px solid #C2C2C2;
  height: 280px;
  overflow: auto; }

/** End Reusable Folder Tree */
.bb-table-widget img {
  cursor: pointer;
  margin: 4px; }

.AUI_Dialog_header div {
  padding-top: 2px; }

.AUI_Dialog_outerContainer.chromeFix {
  position: absolute; }

#loadingAlertBox {
  top: 0px !important;
  left: 0px !important;
  width: 100% !important;
  background-color: rgba(0, 0, 0, 0.4) !important; }
  #loadingAlertBox .AUI_Dialog_outerContainer {
    width: 155px !important;
    height: 75px !important; }
  #loadingAlertBox .AUI_Dialog_header {
    display: none; }
  #loadingAlertBox .AUI_Dialog_contentContainer {
    margin-top: 0;
    padding-top: 0; }
  #loadingAlertBox .AUI_Dialog_content {
    overflow: hidden; }
  #loadingAlertBox div.AUI_Alert {
    margin-top: 14px; }
  #loadingAlertBox .AUI_Dialog_underlay {
    width: 100% !important; }

.searchBtn {
  position: relative;
  top: -3px; }

#DerivedSignals .page_title, #ManageTrait .page_title {
  margin-top: 0; }

div.AUI_CollapsiblePanel {
  margin-left: 0 !important; }

div.AUI_CollapsiblePanel_content {
  margin: 15px 0 19px; }

#alertModal.headless .AUI_Dialog_header {
  display: none; }

#alertModal {
  z-index: 1001; }
  #alertModal .AUI_Dialog_content {
    overflow: hidden; }
    #alertModal .AUI_Dialog_content p {
      margin: 0; }
    #alertModal .AUI_Dialog_content ul {
      list-style: disc;
      margin: 10px 0 10px 13px; }
      #alertModal .AUI_Dialog_content ul li {
        margin: 2px 0 4px 2px;
        font-size: 11px; }
    #alertModal .AUI_Dialog_content div.AUI_Alert {
      margin: 0 0 0; }
  #alertModal div.AUI_Notification {
    width: 100%;
    *width: auto; }
  #alertModal h4 {
    margin: 4px 0 4px 0;
    line-height: 20px; }

#loadingModal .AUI_Dialog_content {
  overflow: hidden; }
  #loadingModal .AUI_Dialog_content p {
    margin: 0; }
  #loadingModal .AUI_Dialog_content div.AUI_Alert {
    margin: 0 0 10px; }
#loadingModal div.AUI_Dialog_header {
  display: none; }
#loadingModal div.AUI_Notification {
  width: 100%;
  *width: auto; }
#loadingModal div.AUI_dialog_outerContainer {
  min-width: 200px !important; }
#loadingModal div.AUI_Dialog_contentContainer {
  height: 90px; }
#loadingModal div.AUI_Alert_Icon.AUI_Alert_Icon_Loading {
  height: 24px;
  width: 24px; }
#loadingModal strong.AUI_Alert_Label {
  display: none; }
#loadingModal .AUI_Alert_Content {
  font-weight: bold;
  text-transform: uppercase; }

/* For use with use with ADOBE.AM.LoadingOverlay */
.loading_overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFF;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  z-index: 10000; }

#browse_traits_modal .traits_list {
  position: relative; }
  #browse_traits_modal .traits_list div.AUI_Notification {
    position: absolute !important;
    z-index: 20000 !important;
    top: 10px !important;
    margin-left: 47% !important;
    left: 0px !important; }

#browse_segments_modal .segments_list {
  position: relative; }
  #browse_segments_modal .segments_list div.AUI_Notification {
    position: absolute !important;
    z-index: 20000 !important;
    top: 10px !important;
    margin-left: 47% !important;
    left: 0px !important; }

#browse_models_modal .models_list {
  position: relative; }
  #browse_models_modal .models_list div.AUI_Notification {
    position: absolute !important;
    z-index: 20000 !important;
    top: 10px !important;
    margin-left: 47% !important;
    left: 0px !important; }

#mainContent {
  padding-left: 17px;
  padding-top: 10px;
  padding-bottom: 1rem;
  font-size: 12px; }
  #mainContent .basic_info {
    overflow: hidden;
    min-height: 245px; }
    #mainContent .basic_info dl {
      float: left;
      width: 350px;
      margin: 1em 0;
      padding: 0; }
    #mainContent .basic_info dt {
      clear: left;
      float: left;
      width: 150px;
      margin: 0;
      padding: 5px;
      font-weight: bold; }
    #mainContent .basic_info dd {
      float: left;
      width: 180px;
      margin: 0;
      padding: 5px; }
    #mainContent .basic_info dt {
      width: 10em; }
  #mainContent .page_title {
    margin: 7px 0 7px;
    float: left;
    font-size: 16px;
    font-weight: bold; }
  #mainContent select {
    font-size: 11px; }

#toolbarDiv {
  position: relative;
  z-index: 10; }
  #toolbarDiv ul li {
    border-left-width: 0; }
  #toolbarDiv ul li:first-child {
    border-left: none; }

/* Reusable panels */
#browse_models_modal .models_search {
  margin: 0;
  padding: 10px;
  float: left;
  width: 190px;
  border: 1px solid #b4b4b4; }
  #browse_models_modal .models_search h4 {
    margin: 0; }
#browse_models_modal .models_list {
  height: 100%; }
  #browse_models_modal .models_list .actions {
    display: none; }

.AUI_Dialog_footer div aside {
  display: block;
  width: 300px;
  position: absolute;
  right: 300px;
  bottom: 0px;
  text-align: left; }
.AUI_Dialog_footer button {
  margin-right: 4px; }

.disableMainScroll {
  overflow: hidden; }

.cell button,
div.AUI_SearchField button {
  background-color: #e4e4e4;
  background-image: url("/css/aam/images/StandardUp_button.png");
  background-position: top left;
  background-repeat: repeat-x;
  border-width: 1px;
  border-style: solid;
  border-color: #757575 #aeaeae;
  border-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.3);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font-family: Helvetica,Arial;
  font-size: 13px;
  font-weight: normal !important;
  color: #333;
  cursor: pointer;
  outline: 0;
  vertical-align: top;
  height: 26px;
  padding: 0;
  padding-left: 7px;
  padding-right: 7px;
  margin: 0;
  line-height: 26px;
  min-height: 0;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

div.AUI_SearchField input[type="button"]:hover,
input[type="submit"]:hover,
.yui-skin-sam span.yui-button button:hover {
  background-image: url("/css/aam/images/StandardHover_button.png"); }

:-moz-placeholder {
  color: #B4B4B4 !important; }

input[type='text'], textarea {
  border-radius: 3px !important;
  display: inline-block;
  margin: 0 !important; }

.input_row {
  margin: 0 0 14px 0px;
  clear: both; }
  .input_row label {
    font-weight: bold;
    padding: 0 0 0 0;
    width: 125px;
    display: inline-block; }

textarea {
  resize: none; }

.hidden {
  left: -9999px;
  position: absolute;
  top: -9999px;
  visibility: hidden; }

body {
  font-family: AdobeClean !important; }

header.top {
  padding: 0;
  border: none; }

div.rail > .wrap {
  background-color: #555 !important; }
  div.rail > .wrap section.links {
    box-shadow: 0 0.0625rem 0 #656565 inset !important;
    padding: 0 !important;
    border-top: none !important; }
    div.rail > .wrap section.links a.heading {
      color: #e6e6e6 !important;
      margin-bottom: 0 !important;
      line-height: 2.5rem;
      padding: 0 0.7rem !important;
      border-bottom: 1px solid #3b3b3b;
      font-size: 1rem !important;
      font-weight: normal; }
      div.rail > .wrap section.links a.heading:active {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        margin-top: 0 !important;
        border-top: none !important; }
      div.rail > .wrap section.links a.heading:after {
        display: block;
        position: absolute;
        top: 14px; }
    div.rail > .wrap section.links nav.fold {
      display: none;
      background: #474747;
      padding: 0 !important;
      overflow-x: hidden !important; }
      div.rail > .wrap section.links nav.fold a.heading {
        font-size: 0.9rem !important; }
    div.rail > .wrap section.links .sub_item a {
      color: #d2d2d2;
      padding-left: 0.7rem;
      box-shadow: 0 0.0625rem 0 #5a5a5a inset;
      border-bottom: 1px solid #323232 !important; }
    div.rail > .wrap section.links .sub_item:first-child a {
      box-shadow: 0 0.0625rem 0 #434343 inset; }
    div.rail > .wrap section.links nav.nested {
      background-color: #333; }
      div.rail > .wrap section.links nav.nested a {
        box-shadow: 0 0.0625rem 0 #3f3f3f inset !important;
        font-size: 0.7rem;
        color: #999;
        border-bottom: 1px solid #222222 !important; }
      div.rail > .wrap section.links nav.nested .sub_item:first-child a {
        box-shadow: 0 0.0625rem 1px #222 inset !important; }
  div.rail > .wrap > .rail-switch > .toolbar {
    background-color: #373737 !important;
    border-bottom: 1px solid #2e2e2e !important; }
    div.rail > .wrap > .rail-switch > .toolbar a.active:before {
      border-bottom-color: #2e2e2e !important; }
    div.rail > .wrap > .rail-switch > .toolbar a.active:after {
      border-bottom-color: #555 !important;
      z-index: 1; }
  div.rail > .wrap .rail-view {
    display: block !important; }

#main-rail {
  width: 15rem;
  overflow: hidden; }
  #main-rail.scrollable {
    overflow: auto; }
  #main-rail .sub_item {
    line-height: 2.5rem;
    font-size: 0.85rem;
    width: 15rem; }
  #main-rail .triangle_right {
    border-bottom: 0.5rem solid transparent;
    border-right: 0.5rem solid #eee;
    border-top: 0.5rem solid transparent;
    float: right;
    height: 0;
    margin-top: -1.75rem;
    width: 0;
    visibility: hidden; }

#right-rail {
  width: 15rem;
  bottom: 0;
  overflow-y: auto;
  position: absolute;
  right: -15rem;
  top: 0;
  z-index: 10; }

div.rail:not(.light) [class^="icon-"]:not(.black):not(.blue):before {
  color: #d6d6d6 !important;
  opacity: 0.8; }

.footer {
  border-top: 1px solid #b8b8b8;
  font-size: 0.75rem;
  height: 3rem; }
  .footer:before, .footer:after {
    content: " ";
    display: table;
    line-height: 0; }
  .footer:after {
    clear: both; }
  .footer .copyright {
    float: right;
    padding: 0.5rem 1rem; }
    .footer .copyright span {
      display: block;
      text-align: right; }
  .footer .links {
    white-space: nowrap;
    float: left; }
    .footer .links > a, .footer .links > span {
      padding: 0.5rem 1rem;
      float: left; }

.greyText, .grayText {
  color: #969696; }
